<section class="section-8" id="section-eight">
        <div class="section-8-container">
            <h2 class="section-8__header">Our latest Projects</h2>
            <ul class="section-8-box">
                <li class="section-8__card">
                    <img src="/img/section8/section8-img1.png" alt="img" class="section-8__img">
                    <h3 class="card__h">E-Commerce Website <br> Design for Fashion Brand</h3>
                    <p class="card__p">Transforming a fashion brand’s online <br> store into a user-friendly, stylish e- <br> commerce platform.</p>
                </li>
                <li class="section-8__card">
                    <img src="/img/section8/section8-img2.png" alt="img" class="section-8__img">
                    <h3 class="card__h">Custom Web Development <br> for Tech Startup</h3>
                    <p class="card__p">Building a scalable, high-performance <br> website to showcase innovative tech <br> solutions.</p>
                </li>
                <li class="section-8__card">
                    <img src="/img/section8/section8-img3.png" alt="img" class="section-8__img">
                    <h3 class="card__h">Digital Marketing Campaign <br> for Local Business</h3>
                    <p class="card__p">Boosting visibility and sales through <br> targeted, results-driven digital <br> marketing strategies.</p>
                </li>
                <li class="section-8__card">
                    <img src="/img/section8/section8-img4.png" alt="img" class="section-8__img">
                    <h3 class="card__h">Branding and Web Design <br> for Nonprofit Organization</h3>
                    <p class="card__p">Creating a compelling online presence <br> to promote the nonprofit’s mission and <br> values.</p>
                </li>
            </ul>
        </div>
    </section>