<section class="section-8" id="section-eight" data-aos="fade-right">
  <div class="section-8-container">
    <h2 class="section-8__header">Наші проекти</h2>
    <ul class="section-8-box">
      <li class="section-8__card">
        <img
          src="./img/section8/section8-img1.png"
          alt="img"
          class="section-8__img"
        />
        <h3 class="card__h">Дизайн e-commerce сайту для модного бренду</h3>
        <p class="card__p">
          Перетворення онлайн-магазину модного бренду на зручну та стильну
          платформу для електронної комерції.
        </p>
      </li>
      <li class="section-8__card">
        <img
          src="./img/section8/section8-img2.png"
          alt="img"
          class="section-8__img"
        />
        <h3 class="card__h">Індивідуальна розробка сайту для тех-стартапу</h3>
        <p class="card__p">
          Створення масштабованого, високопродуктивного сайту для демонстрації
          інноваційних технічних рішень.
        </p>
      </li>
      <li class="section-8__card">
        <img
          src="./img/section8/section8-img3.png"
          alt="img"
          class="section-8__img"
        />
        <h3 class="card__h">
          Цифрова маркетингова кампанія для місцевого бізнесу
        </h3>
        <p class="card__p">
          Підвищення видимості та продажів за допомогою, ефективних цифрових
          маркетингових стратегій.
        </p>
      </li>
      <li class="section-8__card">
        <img
          src="./img/section8/section8-img4.png"
          alt="img"
          class="section-8__img"
        />
        <h3 class="card__h">
          Брендинг та веб-дизайн для некомерційної організації
        </h3>
        <p class="card__p">
          Створення привабливої онлайн-присутності для просування місії та
          цінностей організації.
        </p>
      </li>
    </ul>
  </div>
</section>
