<section class="section-8" id="section-eight">
    <div class="section-8-container">
        <h2 class="section-8__header">Our latest Projects</h2>
        <ul class="section-8-box">
            <li class="section-8__card">
                <img src="./img/section8/section8-img1.png" alt="img" class="section-8__img">
                <h3 class="card__h">Lorem Ipsum is simply <br> dummy text of the printing.</h3>
                <p class="card__p">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. </p>
            </li>
            <li class="section-8__card">
                <img src="./img/section8/section8-img2.png" alt="img" class="section-8__img">
                <h3 class="card__h">Lorem Ipsum is simply <br> dummy text of the printing.</h3>
                <p class="card__p">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsu</p>
            </li>
            <li class="section-8__card">
                <img src="./img/section8/section8-img3.png" alt="img" class="section-8__img">
                <h3 class="card__h">Lorem Ipsum is simply <br> dummy text of the printing.</h3>
                <p class="card__p">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem</p>
            </li>
            <li class="section-8__card">
                <img src="./img/section8/section8-img4.png" alt="img" class="section-8__img">
                <h3 class="card__h">Lorem Ipsum is simply <br> dummy text of the printing.</h3>
                <p class="card__p">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem</p>
            </li>
        </ul>
    </div>
</section>