<section class="section-9">
  <div class="section-9-container">
    <!-- <img src="../section-9/section-9.html" alt="" /> -->
    <h2 class="h2-section-9">Let’s Collaborate</h2>

    <p>Partner with us to create innovative digital solutions together.</p>

    <img
      alt="Файл:Карта Украины.svg"
      src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ea/%D0%9A%D0%B0%D1%80%D1%82%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B.svg/776px-%D0%9A%D0%B0%D1%80%D1%82%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B.svg.png"
      decoding="async"
      width="776"
      height="600"
      srcset="
        //upload.wikimedia.org/wikipedia/commons/thumb/e/ea/%D0%9A%D0%B0%D1%80%D1%82%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B.svg/1164px-%D0%9A%D0%B0%D1%80%D1%82%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B.svg.png 1.5x,
        //upload.wikimedia.org/wikipedia/commons/thumb/e/ea/%D0%9A%D0%B0%D1%80%D1%82%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B.svg/1552px-%D0%9A%D0%B0%D1%80%D1%82%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B.svg.png 2x
      "
      data-file-width="792"
      data-file-height="612"
      class="Ukraine-svg"
    />
  </div>
</section>
  