<section class="section-9" data-aos="fade-down">
  <div class="section-9-container">
    <div class="section-9-div">
      <div class="svg-div-section-9">
        <img src="/img/section9/svg/Beverly.svg" alt="" />
      </div>

      <div class="text-section-9">
        <h2 class="h2-section-9">Співпрацюйте</h2>

        <p>І створюйте інноваційні цифрові рішення разом з нами</p>
      </div>
    </div>

    <img src="/img/section9/svg/Group.svg" alt="" class="section-9-map">
    <div class="ping"></div></img>
  </div>
</section>