<header id="home">
  <div class="backdrop"></div>
  <nav class="header__nav">
    <div class="header__hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn open" for="menu__toggle">
        <span></span>
      </label>
    </div>
    <img src="/img/header/svg/logo.svg" alt="logo" id="logo" />

    <div class="categories">
      <a href="home" class="nav-link active" id="active-link">Головна</a>
      <a href="aboutus" class="nav-link">Про нас</a>
      <a href="services" class="nav-link">Послуги</a>
      <a
        class="nav-link"
        onclick="javascript:window.open(`https://t.me/agencywebicn`, `_blank`)"
        style="cursor: pointer"
        >Блог</a
      >
      <button class="contact-us">Зв'яжіться з нами</button>
    </div>
  </nav>
  <div class="mobile-version">
    <div class="header__menu">
      <h1 class="name-menu">Меню</h1>
    </div>

    <div class="mobile-categories">
      <a href="home" class="nav-link active" id="active-link">Головна</a>
      <a href="aboutus" class="nav-link">Про нас</a>
      <a href="services" class="nav-link">Послуги</a>
      <a
        class="nav-link"
        onclick="javascript:window.open(`https://t.me/agencywebicn`, `_blank`)"
        style="cursor: pointer"
        >Блог</a
      >
      <button class="contact-us">Зв'яжіться з нами</button>
    </div>
    <div class="mobile-contact">
      <img src="/img/header/svg/phone.svg" alt="phone" id="phone" />

      <img src="/img/header/svg/logo.svg" alt="logo" id="logo" />
      <button class="chat">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="84"
          height="84"
          viewBox="0 0 84 84"
          fill="none"
        >
          <g filter="url(#filter0_d_3215_1255)">
            <circle
              cx="41.9999"
              cy="38.0001"
              r="27.9999"
              transform="rotate(-90 41.9999 38.0001)"
              fill="white"
            />
          </g>
          <rect x="27" y="28" width="30" height="20" rx="10" fill="#1392CB" />
          <path d="M33 35H51" stroke="white" stroke-linecap="round" />
          <path d="M33 38H51" stroke="white" stroke-linecap="round" />
          <path d="M42 41L51 41" stroke="white" stroke-linecap="round" />
          <path
            d="M43.5952 50.939L47.017 44.7974L49.7799 47.5956L43.5952 50.939Z"
            fill="#1392CB"
          />
          <defs>
            <filter
              id="filter0_d_3215_1255"
              x="0"
              y="0.00012207"
              width="83.9999"
              height="83.9999"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="7" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_3215_1255"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_3215_1255"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
      </button>
    </div>
    <div class="mobile-footer">
      <p>Copyright ® 2021 Всі права захищені</p>
    </div>
  </div>
</header>
<script type="module" src="js/header/header.js"></script>
