.stats-section {
    background-color: #1090CB; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    position: relative;
    color: #fff;
  
    .stat-item {
      text-align: center;
    
      h2 {
        font-size: 4vw;
        margin: 0;
      }
    
      p {
        font-size: 1.5vw;
        margin: 10px 0 0;
      }
    
    }
  
    .decoration {
      position: absolute;
    
      &.succulent {
        bottom: -40px;
        width: 6vw;
        left: 9vw;
      }
    
      &.bell {
        top: -40px;
        right: 2.5vw;
        width: 6vw;
      }
      }
      @media (max-width: 800px) {
        .decoration {
          &.succulent {
            bottom: -17px;
            left: 10.5vw;
            width: 10vw;
          }
          &.bell {
            top: -17px;
            right: 3.5vw;
            width: 10vw;
      
            }
          }
      }
    }
  