<section class="section-2">
    <div class="container">
        <h2 class="section-2__heading">Digital Web Agency specializes in crafting innovative digital solutions</h2>
        <p class="section-2__text">Digital Web Agency is at the forefront of the digital industry, delivering
            impactful designs and user-focused solutions
            for diverse projects.
        </p>

        <!-- content -->
        <ul class="section-2__content">
            <li class="dashed-line"></li>
            <li class="article">
                <ul class="article__top">
                    <li class="article__top__icon-bg" style="background: #08D3BB;">
                        <img class="face-icon" src="/img/section2/svg/face.svg" alt="face-icon">
                    </li>
                    <li class="article__top__sub-heading">Experts in Mobile and Web Development <br>
                        <span class="article__top__additional-heading">Crafting Solutions for Android and iOS</span>
                    </li>
                </ul>
                <h2 class="article__heading">Digital Web Agency
                    for <span class="article__heading--span">Mobile</span> and <span class="article__heading--span">Web
                        Innovation</span></h2>
                <p class="article__text">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
                    applications
                    and website builders measuring dozens of completed projects. We build and develop
                    mobile
                    applications for several top platforms, including Android &amp; IOS. </p>
            </li>
            <li class="article__img phone-img"></li>
        </ul>

        <!-- content -->
        <ul class="section-2__content">
            <li class="article">
                <ul class="article__top">
                    <!-- <li><svg class="dashed-wave" xmlns="http://www.w3.org/2000/svg" width="793" height="1310"
                                            viewBox="00  793 1310" fill="none">
                                            <path
                                                d="M72.6342 1C51.2538 30.5 7.0354 111.8 3.14806 153C-1.7111 204.5 -0.467388 272.627 29.3876 339.5C108.297 516.252 344.262 462 492.466 484.5C596.403 500.279 665.586 522.863 727.164 600C794.22 684 806.788 780.667 776.241 883.5C736.882 1016 635.812 1074.5 517.248 1150C391.946 1229.79 72.1482 1309.5 72.1482 1309.5"
                                                stroke="#999999" stroke-dasharray="7 7" />
                                        </svg></li> -->
                    <li class="article__top__icon-bg" style="background: #1090CB;;">
                        <img class="face-icon" src="/img/section2/svg/face.svg" alt="">
                    </li>
                    <li class="article__top__sub-heading">Experts in Mobile and Web Development <br>
                        <span class="article__top__additional-heading">Crafting Innovative Solutions for Tablets and
                            Websites</span>
                    </li>
                </ul>
                <h2 class="article__heading text-end">Digital Web Agency for <span
                        class="article__heading--span">Tablet</span> and <span
                        class="article__heading--span">Web
                        Design</span> Excellence</h2>
                <p class="article__text text-end">KODEX TECHNOLOGY (PVT) LTD is a team of experienced tablet
                    application
                    developers and website creators, delivering
                    dozens of successful projects. We design and develop tablet applications optimized for top
                    platforms, ensuring seamless
                    user experiences.
                </p>
            </li>
            <li class="article__img layers-img"></li>
        </ul>

        <!-- content -->
        <ul class="section-2__content">
            <li class="article">
                <ul class="article__top">
                    <!-- <li><svg class="dashed-wave" xmlns="http://www.w3.org/2000/svg" width="793" height="1310"
                                            viewBox="0 0 793 1310" fill="none">
                                            <path
                                                d="M72.6342 1C51.2538 30.5 7.0354 111.8 3.14806 153C-1.7111 204.5 -0.467388 272.627 29.3876 339.5C108.297 516.252 344.262 462 492.466 484.5C596.403 500.279 665.586 522.863 727.164 600C794.22 684 806.788 780.667 776.241 883.5C736.882 1016 635.812 1074.5 517.248 1150C391.946 1229.79 72.1482 1309.5 72.1482 1309.5"
                                                stroke="#999999" stroke-dasharray="7 7" />
                                        </svg></li> -->
                    <li class="article__top__icon-bg" style="background: #9208D3;">
                        <img class="face-icon" src="/img/section2/svg/face.svg" alt="">
                    </li>
                    <li class="article__top__sub-heading">Experts in Mobile and Web Development <br>
                        <span class="article__top__additional-heading">Crafting Tailored Solutions for Wearables and
                            Websites</span>
                    </li>
                </ul>
                <h2 class="article__heading">Digital Web Agency for <span class="article__heading--span">Smartwatch Apps</span> and <span class="article__heading--span">Digital Solutions</span></h2>
                <p class="article__text">KODEX TECHNOLOGY (PVT) LTD is a team of experienced developers specializing
                    in smartwatch applications and website
                    solutions. We create efficient, user-friendly apps for smartwatches across leading platforms,
                    blending design and
                    functionality seamlessly.
                </p>
            </li>
            <li class="article__img vr-dude-img"></li>
        </ul>
    </div>
</section>