<section class="section-2">
  <div class="container">
    <h2 class="section-2__heading" data-aos="fade-down">
      Web Agency спеціалізується на розробці інноваційних цифрових рішень
    </h2>
    <p class="section-2__text" data-aos="fade-down">
      Digital Web Agency займає передову позицію в цифровій індустрії та виконує
      свої дії ефектний дизайн і орієнтовані на користувача рішення для
      різноманітних проектів.
    </p>

    <!-- content -->
    <ul class="section-2__content" data-aos="fade-down">
      <li class="dashed-line"></li>
      <li class="article">
        <ul class="article__top">
          <li class="article__top__icon-bg" style="background: #08d3bb">
            <img
              class="face-icon"
              src="/img/section2/svg/face.svg"
              alt="face-icon"
            />
          </li>
          <li class="article__top__sub-heading">
            Експерти з мобільної та веб-розробки <br />
            <span class="article__top__additional-heading"
              >Крафтові рішення для Android та iOS</span
            >
          </li>
        </ul>
        <h2 class="article__heading">
          Digital Web Agency для
          <span class="article__heading--span">Мобільних</span> та
          <span class="article__heading--span">Веб-інновацій</span>
        </h2>
        <p class="article__text">
          Web Agency – це команда досвідчених мобільних та веб-розробників які мають десятки завершених
          проектів. Ми будуємо і розвиваємося в мобільній розробці для кількох
          найпопулярніших платформ, включаючи Android &amp; IOS. (React Native)
        </p>
      </li>
      <li class="article__img phone-img"></li>
    </ul>

    <!-- content -->
    <ul class="section-2__content" data-aos="fade-left">
      <li class="article">
        <ul class="article__top">
          <li class="article__top__icon-bg" style="background: #1090cb">
            <img class="face-icon" src="/img/section2/svg/face.svg" alt="" />
          </li>
          <li class="article__top__sub-heading">
            Експерти з мобільної та веб-розробки <br />
            <span class="article__top__additional-heading"
              >Створення інноваційних рішень для планшетів і Веб-сайти</span
            >
          </li>
        </ul>
        <h2 class="article__heading text-end">
          Адаптивна розробка для
          <span class="article__heading--span">Планшетів</span> та
          <span class="article__heading--span">Телефонів</span>
        </h2>
        <p class="article__text text-end">
          Web Agency - це команда досвідчених
          розробників та творців веб-сайтів, які мають десятки успішних проектів.
          Ми проектуємо та розробляємо веб-сайти для планшетів, оптимізовані для
          top платформ, забезпечуючи безперебійний досвід користувача.
        </p>
      </li>
      <li class="article__img layers-img"></li>
    </ul>

    <!-- content -->
    <ul class="section-2__content" data-aos="fade-right">
      <li class="article">
        <ul class="article__top">
          <!-- <li><svg class="dashed-wave" xmlns="http://www.w3.org/2000/svg" width="793" height="1310"
                                            viewBox="0 0 793 1310" fill="none">
                                            <path
                                                d="M72.6342 1C51.2538 30.5 7.0354 111.8 3.14806 153C-1.7111 204.5 -0.467388 272.627 29.3876 339.5C108.297 516.252 344.262 462 492.466 484.5C596.403 500.279 665.586 522.863 727.164 600C794.22 684 806.788 780.667 776.241 883.5C736.882 1016 635.812 1074.5 517.248 1150C391.946 1229.79 72.1482 1309.5 72.1482 1309.5"
                                                stroke="#999999" stroke-dasharray="7 7" />
                                        </svg></li> -->
          <li class="article__top__icon-bg" style="background: #9208d3">
            <img class="face-icon" src="/img/section2/svg/face.svg" alt="" />
          </li>
          <li class="article__top__sub-heading">
            Експерти з мобільної та веб-розробки <br />
            <span class="article__top__additional-heading"
              >Створення індивідуальних рішень для Веб-сайтів</span
            >
          </li>
        </ul>
        <h2 class="article__heading">
          Digital Web Agency про
          <span class="article__heading--span">Смарт-годинники </span>
          та <span class="article__heading--span">Цифрові рішення</span>
        </h2>
        <p class="article__text">
          Web Agency - це команда досвідчених розробників, які
          спеціалізуються у програмах для смарт-годинників та у веб
          рішенняx. Ми створюємо ефективні та зручні програми для розумних
          годинників на провідних платформах, міксуємо дизайн та бездоганну
          функціональність.
        </p>
      </li>
      <li class="article__img vr-dude-img"></li>
    </ul>
  </div>
</section>
