* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-8-container {
    margin: 0 auto;
    padding: 0 136px;
    max-width: 1905px;

    .section-8__header {
        font: 500 40px 'Poppins', sans-serif;
        color: #000000;
        margin-bottom: 75px;
        text-align: start;
    }

    .section-8-box {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        position: relative;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        gap: 101px;

        &::-webkit-scrollbar {
            display: none;
        }


        .section-8__card {
            list-style: none;
            flex: 0 0 400px;
            scroll-snap-align: start;
            margin-right: 20px;

            .section-8__img {
                width: 100%;
                border-radius: 45px;
            }
            .card__h {
                font: 600 27px 'Poppins', sans-serif;
                margin: 48px 0 27px 0;
                line-height: 48px;
                color: #000000;
            }

            .card__p {
                font: 400 20px 'Poppins', sans-serif;
                line-height: 42px;
                color: #424242;
            }
        }
    }
}

@media (max-width: 1920px) {
    .section-8-container {
        padding: 0 100px;

        .section-8__header {
            font: 500 40px 'Poppins', sans-serif;
            margin-bottom: 75px;
            text-align: start;
        }

        .section-8-box {
            gap: 101px;

            .section-8__card {
                flex: 0 0 26.1781vw;

                .section-8__img {
                    width: 26.01781vw;
                    height: 367px;
                }

                .card__h {
                    font: 600 27px 'Poppins', sans-serif;
                    margin: 48px 0 27px 0;
                    line-height: 48px;
                }

                .card__p {
                    font: 400 20px 'Poppins', sans-serif;
                    line-height: 42px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .section-8-container {
        padding: 0 50px;

        .section-8__header {
            font: 500 36px 'Poppins', sans-serif;
            margin-bottom: 63px;
            text-align: start;
            line-height: 64px;
        }

        .section-8-box {
            gap: 84px;

            .section-8__card {
                flex: 0 0 23.13vw;

                .section-8__img {
                    width: 23.13vw;
                    height: 21.25vw; 
                }

                .card__h {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0 20px 0;
                    line-height: 41px;
                }

                .card__p {
                    font: 400 16px 'Poppins', sans-serif;
                    line-height: 34px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .section-8-container {
        padding: 0 20px;

        .section-8__header {
            font: 500 44px 'Poppins', sans-serif;
            margin-bottom: 42px;
            text-align: start;
            line-height: 78px;
        }

        .section-8-box {
            gap: 84px;

            .section-8__card {
                flex: 0 0 32.52vw;

                .section-8__img {
                    width: 32.52vw;
                    height: 29.88vw;
                }

                .card__h {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0 30px 0;
                    line-height: 41px;
                }

                .card__p {
                    font: 400 16px 'Poppins', sans-serif;
                    line-height: 34px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section-8-container {
        padding: 0 10px;

        .section-8__header {
            font: 500 44px 'Poppins', sans-serif;
            margin-bottom: 42px;
            text-align: start;
            line-height: 78px;
        }

        .section-8-box {
            gap: 54px;

            .section-8__card {
                flex: 0 0 43.36vw;

                .section-8__img {
                    width: 43.36vw;
                    height: 306px; 
                }

                .card__h {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0 30px 0;
                    line-height: 41px;
                }

                .card__p {
                    font: 400 16px 'Poppins', sans-serif;
                    line-height: 34px;
                }
            }
        }
    }

}

@media (max-width: 320px) {
    .section-8-container {
        .section-8__header {
            font: 500 20px 'Poppins', sans-serif;
            margin-bottom: 23px;
            text-align: start;
        }

        .section-8-box {
            gap: 23.32px;

            .section-8__card {
                flex: 0 0 50.63vw;

                .section-8__img {
                    width: 50.63vw;
                    height: 46.56vw;
                }

                .card__h {
                    font: 600 13px 'Poppins', sans-serif;
                    margin: 19px 0;
                    line-height: 18px;
                }

                .card__p {
                    font: 400 9px 'Poppins', sans-serif;
                    line-height: 12.65px;
                }
            }
        }
    }
}

.section-8-box .section-8__card {
    flex: 0 0 90%;
}