* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-8-container {
    margin: 0 auto;
    padding: 0 136px;
    max-width: 1905px;

    .section-8__header {
        font: 500 40px 'Poppins', sans-serif;
        color: #000000;
        margin-bottom: 75px;
        text-align: center;
    }

    .section-8-box {
        display: flex;
        gap: 100px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        position: relative;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-behavior: smooth;


        // недотіні ліві праві
        // &::before,
        // &::after {
        //     content: '';
        //     position: sticky;
        //     top: 0;
        //     bottom: 0;
        //     width: 50px;
        //     background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
        //     pointer-events: none;
        //     z-index: 10;
        // }

        // &::before {
        //     left: 0;
        //     background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
        // }

        // &::after {
        //     right: 0;
        //     background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
        // }

        &::-webkit-scrollbar {
            display: none;
        }


        .section-8__card {
            list-style: none;
            flex: 0 0 400px;
            scroll-snap-align: start;
            margin-right: 20px;

            .section-8__img {
                width: 100%;
                border-radius: 45px;
            }

            .card__h {
                font: 600 27px 'Poppins', sans-serif;
                letter-spacing: 1%;
                color: #000000;
                margin: 48px 0;
            }

            .card__p {
                font: 400 20px 'Poppins', sans-serif;
                color: #424242;
            }
        }
    }
}

@media (max-width: 1920px) {
    .section-8-container {
        padding: 0 100px;

        .section-8__header {
            font: 500 40px 'Poppins', sans-serif;
            margin-bottom: 75px;
            text-align: center;
        }

        .section-8-box {
            .section-8__card {
                flex: 0 0 400px;

                .section-8__img {
                    width: 400px;
                    height: 367px;
                }

                .card__h {
                    font: 600 27px 'Poppins', sans-serif;
                    margin: 48px 0 27px 0;
                    line-height: 48px;
                    letter-spacing: 1%;
                }

                .card__p {
                    font: 400 20px 'Poppins', sans-serif;
                    line-height: 42px;
                    letter-spacing: 1%;
                    color: #424242;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .section-8-container {
        padding: 0 50px;

        .section-8__header {
            font: 500 36px 'Poppins', sans-serif;
            margin-bottom: 63px;
            text-align: center;
            line-height: 64px;
            letter-spacing: 1%;
            color: #000000;
        }

        .section-8-box {
            gap: 84px;

            .section-8__card {
                flex: 0 0 333px;

                .section-8__img {
                    width: 333px;
                    height: 306px;
                }

                .card__h {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0 20px 0;
                    line-height: 41px;
                    letter-spacing: 1%;
                }

                .card__p {
                    font: 400 16px 'Poppins', sans-serif;
                    line-height: 34px;
                    letter-spacing: 1%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .section-8-container {
        padding: 0 20px;

        .section-8__header {
            font: 500 44px 'Poppins', sans-serif;
            margin-bottom: 42px;
            text-align: center;
            line-height: 78px;
            letter-spacing: 1%;
        }

        .section-8-box {
            gap: 84px;

            .section-8__card {
                flex: 0 0 333px;

                .section-8__img {
                    width: 333px;
                    height: 306px;
                }

                .card__h {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0 30px 0;
                    line-height: 41px;
                    letter-spacing: 1%;
                    color: #000000;
                }

                .card__p {
                    font: 400 16px 'Poppins', sans-serif;
                    line-height: 34px;
                    letter-spacing: 1%;
                    color: #424242;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section-8-container {
        padding: 0 10px;

        .section-8__header {
            font: 500 44px 'Poppins', sans-serif;
            margin-bottom: 42px;
            text-align: center;
            line-height: 78px;
            letter-spacing: 1%;
            color: #000000;
        }

        .section-8-box {
            gap: 54px;
            scroll-behavior: smooth;

            .section-8__card {
                flex: 0 0 333px;

                .section-8__img {
                    width: 333px;
                    height: 306px;
                }

                .card__h {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0 30px 0;
                    line-height: 41px;
                    letter-spacing: 1%;
                    color: #000000;
                }

                .card__p {
                    font: 400 16px 'Poppins', sans-serif;
                    line-height: 34px;
                    letter-spacing: 1%;
                }
            }
        }
    }

    .section-8-box {
        gap: 20px;
    }
}

@media (max-width: 320px) {
    .section-8-container {
        .section-8__header {
            font: 500 20px 'Poppins', sans-serif;
            margin-bottom: 23px;
            text-align: center;
        }

        .section-8-box {
            .section-8__card {
                flex: 0 0 162px;

                .section-8__img {
                    width: 162px;
                    height: 149px;
                }

                .card__h {
                    font: 600 13px 'Poppins', sans-serif;
                    margin: 19px 0;
                    line-height: 18px;
                    letter-spacing: 1%;
                    color: #000000;
                }

                .card__p {
                    font: 400 9px 'Poppins', sans-serif;
                    line-height: 12.65px;
                    letter-spacing: 1%;
                    color: #424242;
                }
            }
        }
    }
}

.section-8-box .section-8__card {
    flex: 0 0 90%;
}