* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-8-container {
    margin: 0 auto;
    padding: 0 136px;
    outline: 1px solid red;
    width: 100%;
    max-width: 1905px;

    h2 {
        font: 500 40px 'Poppins', sans-serif;
        color: #000000;
        margin-bottom: 75px;
        text-align: center;
    }

    .section-8-box {
        display: flex;
        gap: 100px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        position: relative;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-behavior: smooth;

        &::before,
        &::after {
            content: '';
            position: sticky;
            top: 0;
            bottom: 0;
            width: 50px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
            pointer-events: none;
            // z-index: 10;
        }

        &::before {
            left: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
        }

        &::after {
            right: 0;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
        }

        &::-webkit-scrollbar {
            display: none;
        }


        li {
            list-style: none;
            flex: 0 0 400px;
            scroll-snap-align: start;
            margin-right: 20px;

            img {
                width: 100%;
                border-radius: 45px;
            }

            h3 {
                font: 600 27px 'Poppins', sans-serif;
                letter-spacing: 1%;
                color: #000000;
                margin: 48px 0;
            }

            p {
                font: 400 20px 'Poppins', sans-serif;
                color: #424242;
            }
        }
    }
}

@media (max-width: 1920px) {
    .section-8-container {
        padding: 0 100px;
    }
}

@media (max-width: 1440px) {
    .section-8-container {
        padding: 0 50px;

        h2 {
            font: 500 36px 'Poppins', sans-serif;
            margin-bottom: 63px;
            text-align: center;
        }

        .section-8-box {
            gap: 84px;

            li {
                flex: 0 0 333px;

                img {
                    width: 333px;
                    height: 306px;
                }

                h3 {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0;
                }

                p {
                    font: 400 16px 'Poppins', sans-serif;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .section-8-container {
        padding: 0 20px;

        h2 {
            font: 500 44px 'Poppins', sans-serif;
            margin-bottom: 41px;
            text-align: center;
        }

        .section-8-box {
            gap: 84px;

            li {
                flex: 0 0 333px;

                img {
                    width: 333px;
                    height: 306px;
                }

                h3 {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0;
                }

                p {
                    font: 400 16px 'Poppins', sans-serif;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section-8-container {
        padding: 0 10px;

        h2 {
            font: 500 44px 'Poppins', sans-serif;
            margin-bottom: 42px;
            text-align: center;
        }

        .section-8-box {
            gap: 54px;
            scroll-behavior: smooth;

            li {
                flex: 0 0 333px;

                img {
                    width: 333px;
                    height: 306px;
                }

                h3 {
                    font: 600 23px 'Poppins', sans-serif;
                    margin: 40px 0;
                }

                p {
                    font: 400 16px 'Poppins', sans-serif;
                }
            }
        }
    }

    .section-8-box {
        gap: 20px;
    }
}

@media (max-width: 320px) {
    .section-8-box {
        gap: 10px;

        h2 {
            font: 500 20px 'Poppins', sans-serif;
            margin-bottom: 23px;
            text-align: center;
        }

        .section-8-box {
            gap: 23px;
            scroll-behavior: smooth;

            li {
                flex: 0 0 162px;

                img {
                    width: 162px;
                    height: 149px;
                }

                h3 {
                    font: 600 10px 'Poppins', sans-serif;
                    margin: 19px 0;
                }

                p {
                    font: 400 6px 'Poppins', sans-serif;
                }
            }
        }
    }

    .section-8-box li {
        flex: 0 0 90%;
    }
}