* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

// variables
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #545454;
$color-blue: #1090cb;

.section-2 {
  max-width: 100vw;
  padding-bottom: 250px;
}

.container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

// TODO general styles
.section-2 {
  &__heading {
    color: #252525;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 160%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    color: #868686;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 170%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .dashed-line {
    background-image: url('../../../img/section2/svg/dashed-stripe.svg');
    background-repeat: no-repeat;
    position: absolute;
    // background-position: center center;
    // width: 800px;
    // height: 1000px;
  }

  &__article {
    display: flex;
    flex-direction: column;
  }
}

.article {
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    align-items: center;

    &__icon-bg {
      width: 58px;
      height: 58px;
      flex-shrink: 0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__sub-heading {
      color: #000;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      line-height: 175%;
    }

    &__additional-heading {
      color: #868686;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      line-height: 175%;
    }
  }

  &__heading {
    color: #252525;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 170%;
  }

  &__heading--span {
    color: #1090cb;
  }

  &__text {
    color: #545454;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 170%;
  }
}

.phone-img {
  background-image: url('../../../img/section2/phone-no-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.layers-img {
  background-image: url('../../../img/section2/layers.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.vr-dude-img {
  background-image: url('../../../img/section2/vr-dude.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.face-icon {
  // outline: 2px solid red;
  fill: #ffffff;
  // background-image: url('../../../img/section2/svg/sprite.svg#line');
}

// adaptive

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-netbook: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-monitor: 1920px;

// TODO mobile

@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .section-2 {
    &__heading {
      font-size: 6.25vw;
      line-height: 160%;
      width: 79.7vw;
    }

    &__text {
      font-size: 2.5vw;
      line-height: 175%;
      margin-top: 18px;
      width: 68.75vw;
      margin-bottom: -70px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 140px;
      margin-bottom: 140px;
      margin-left: auto;
      margin-right: auto;
    }

    &__article {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .article {
    gap: 28px;

    &:nth-child(2) {
      text-align: end;
    }

    &__top {
      gap: 6.13px;

      &__icon-bg {
        width: 13.5vw;
        height: 43.326px;
        // overflow: hidden;

        .face-icon {
          fill: #ffffff;
          // width: 18.771px;
          width: 5.9375vw;
          height: 19.422px;
        }
      }

      &__sub-heading {
        font-size: 5vw;
        line-height: 100%;
        width: 196px;
      }

      &__additional-heading {
        font-size: 3.125vw;
        line-height: 175%;
      }
    }

    &__heading {
      font-size: 6.25vw;
      line-height: 116%;
      width: 70vw;
    }

    &__text {
      font-size: 3.125vw;
      line-height: 170%;
      width: 70vw;
    }
  }

  .phone-img {
    width: 100vw;
    height: 290px;
    top: 300px;
    right: 0px;
  }

  .layers-img {
    width: 100vw;
    height: 304px;
    top: 300px;
    right: 0px;
  }

  .vr-dude-img {
    display: none;
  }
}

// TODO tablet

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    min-width: 90% !important;
  }

  .section-2 {
    .dashed-line {
      width: 700px;
      height: 1114px;
      top: 60px;
      left: -20px;
    }

    &__heading {
      font-size: 5vw;
      line-height: 160%;
      width: 83vw;
    }

    &__text {
      font-size: 2.3vw;
      line-height: 170%;
      width: 67.8vw;
      margin-top: 22px;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      margin-bottom: 100px;

      &:nth-of-type(2) {
        flex-direction: row-reverse;
        text-align: end;
      }
    }

    &__article {
      display: flex;
      flex-direction: column;
    }
  }

  .article {
    gap: 3.64vw;

    &__top {
      gap: 1.5vw;

      &__icon-bg {
        width: 9vw;
        height: 8.92vw;
      }

      &__sub-heading {
        font-size: 2.6vw;
        line-height: 100%;
        font-weight: 500;
        width: 37vw;
        text-align: start;
      }

      &__additional-heading {
        font-size: 2vw;
        line-height: 175%;
        text-align: start;
      }
    }

    .text-end {
      width: 50vw;
    }

    &__heading {
      font-size: 4vw;
      line-height: 116%;
      width: 44.4vw;
    }

    &__text {
      font-size: 2vw;
      line-height: 170%;
      width: 43.35vw;

      &:nth-child(2) {
        width: 65vw;
      }
    }
  }

  .phone-img {
    width: 58.6vw;
    height: 400px;
    right: -30px;
    top: 100px;
  }

  .layers-img {
    width: 65vw;
    height: 400px;
    left: -75px;
    // bottom: 20px;
  }

  .vr-dude-img {
    width: 91vw;
    height: 900px;
    right: -30px;
    top: 30px;
  }
}

// TODO netbook

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    min-width: 90%;
  }

  .section-2 {
    .dashed-line {
      width: 700px;
      height: 1700px;
      top: 60px;
      left: -50px;
    }

    &__heading {
      font-size: 4vw;
      line-height: 160%;
      width: 74vw;
    }

    &__text {
      font-size: 1.75vw;
      line-height: 170%;
      width: 51vw;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      margin-top: 140px;
      margin-bottom: 140px;

      &:nth-of-type(2) {
        flex-direction: row-reverse;
        // text-align: end;
      }
    }

    &__article {
      display: flex;
      flex-direction: column;
    }
  }

  .article {
    gap: 2.7vw;

    &__top {
      gap: 1.1vw;

      &__icon-bg {
        width: 6.7vw;
        height: 6.6vw;
      }

      &__sub-heading {
        font-size: 2vw;
        line-height: 100%;
        font-weight: 500;
        width: 27.8vw;
      }

      &__additional-heading {
        font-size: 1.4vw;
        line-height: 175%;
      }
    }

    &__heading {
      font-size: 3vw;
      line-height: 116%;
      width: 33vw;
    }

    &__text {
      font-size: 1.5;
      line-height: 170%;
      width: 41.8vw;
    }
  }

  .phone-img {
    width: 57.6vw;
    height: 530px;
    right: 0px;
    // border-left: 2px solid #c7c7c7;
  }

  .layers-img {
    width: 48.8vw;
    height: 429px;
    left: 0;
  }

  .vr-dude-img {
    width: 78.02vw;
    height: 405px;
    left: 175px;
  }
}

// TODO desktop

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .container {
    width: 85%;
  }

  .section-2 {
    .dashed-line {
      width: 1100px;
      height: 1600px;
      top: 50px;
      left: -100px;
    }

    &__heading {
      font-size: 2.3vw;
      line-height: 160%;
      width: 88.8vw;
      text-align: start;
      margin: 0;
      margin-left: 50px;
    }

    &__text {
      font-size: 1.25vw;
      line-height: 170%;
      width: 45vw;
      margin-top: 22px;
      margin-left: auto;
      margin-right: auto;
    }

    &__content {
      display: flex;
      justify-content: space-between;

      &:nth-of-type(2) {
        flex-direction: row-reverse;
        // text-align: end;
      }
    }

    &__article {
      display: flex;
      flex-direction: column;
    }
  }

  .article {
    gap: 3.9vw;

    &__top {
      gap: 1.7vw;

      &__icon-bg {
        width: 4vw;
        height: 58px;
      }

      &__sub-heading {
        font-size: 1.6vw;
        line-height: 175%;
      }

      &__additional-heading {
        font-size: 0.97vw;
        line-height: 175%;
      }
    }

    &__heading {
      font-size: 2.9vw;
      line-height: 170%;
      width: 39.6vw;
    }

    &__text {
      font-size: 1.1vw;
      line-height: 170%;
      width: 32.6vw;
    }
  }

  .phone-img {
    width: 51.25vw;
    height: 511px;
    right: 0;
  }

  .layers-img {
    width: 41.6vw;
    height: 545px;
    left: 0;
  }

  .vr-dude-img {
    width: 62.5vw;
    height: 470px;
    left: 200px;
  }
}

// TODO monitor

@media screen and (min-width: 1920px) {
  .container {
    width: 80%;
  }

  .dashed-line {
    width: 700px;
  }

  .section-2 {
    &__heading {
      font-size: 1.7vw;
      line-height: 160%;
    }

    &__text {
      font-size: 0.93vw;
      line-height: 170%;
      width: 33.9vw;
      margin-top: 22px;
      margin-left: auto;
      margin-right: auto;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      margin-top: 140px;
      margin-bottom: 140px;

      &:nth-of-type(2) {
        flex-direction: row-reverse;
        // text-align: end;
      }
    }

    &__article {
      display: flex;
      flex-direction: column;
    }
  }

  .article {
    gap: 3.125vw;

    &__top {
      gap: 2.36vw;

      &__icon-bg {
        width: 3.33vw;
        height: 3.22vw;
      }

      &__sub-heading {
        font-size: 1.14vw;
        line-height: 175%;
      }

      &__additional-heading {
        font-size: 0.93vw;
        line-height: 175%;
      }
    }

    &__heading {
      font-size: 1.8vw;
      line-height: 170%;
      width: 29.7vw;
    }

    &__text {
      font-size: 1.14vw;
      line-height: 170%;
      width: 24.4vw;
    }
  }

  .phone-img {
    width: 817.208px;
    height: 545.351px;
    right: 0;
  }

  .layers-img {
    width: 664.397px;
    height: 581.636px;
    left: 0;
  }

  .vr-dude-img {
    width: 997.703px;
    height: 501.595px;
  }
}
