<section class="section-4" id="aboutus">
  <div class="section-4_photos-1" data-aos="fade-up-right">
    <div class="section-4_photo-1"></div>
    <div class="section-4_photo-2"></div>
  </div>

  <div class="section-4_about-us" data-aos="fade-right">
    <h3 class="section-4_about-us_pretitle">Про нас</h3>
    <h2 class="section-4_about-us_title">
      Створення цифрового досвіду для Інтернету, мобільних пристроїв і не тільки
    </h2>
    <p class="section-4_about-us_text">
      Ми спеціалізуємося на розробці інноваційних веб та мобільних рішень, які
      допомагають бізнесу процвітати в цифровому світі.
    </p>
  </div>

  <div class="section-4_photos-2" data-aos="fade-up-left">
    <div class="section-4_photo-3"></div>
    <div class="section-4_photo-4"></div>
  </div>
</section>
