<section class="section-4">
  <div class="section-4_photos-1">
    <img
      src="../../../img/section4/png/photo-1.png"
      alt=""
      class="section-4_photo-1"
    />
    <img
      src="../../../img/section4/png/photo-2.png"
      alt=""
      class="section-4_photo-2"
    />
  </div>

  <div class="section-4_about-us">
    <h3 class="section-4_about-us_pretitle">About us</h3>
    <h2 class="section-4_about-us_title">
      Lorem Ipsum is simply dummy text of the printing.
    </h2>
    <p class="section-4_about-us_text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's
    </p>
  </div>

  <div class="section-4_photos-2">
    <img
      src="../../../img/section4/png/photo-3.png"
      alt=""
      class="section-4_photo-3"
    />
    <img
      src="../../../img/section4/png/photo-4.png"
      alt=""
      class="section-4_photo-4"
    />
  </div>
</section>
