<section class="section-4">
  <div class="section-4_photos-1">
    <div class="section-4_photo-1"></div>
    <div class="section-4_photo-2"></div>
  </div>

  <div class="section-4_about-us">
    <h3 class="section-4_about-us_pretitle">About us</h3>
    <h2 class="section-4_about-us_title">
      Lorem Ipsum is simply dummy text of the printing.
    </h2>
    <p class="section-4_about-us_text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's
    </p>
  </div>

  <div class="section-4_photos-2">
    <div class="section-4_photo-3"></div>
    <div class="section-4_photo-4"></div>
  </div>
</section>
