* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-9-container {
  margin: 0 auto;
  padding: 0 136px;
  outline: 1px solid red;
  width: 100%;
  max-width: 1905px;

  h2 {
    font: 500 40px 'Poppins', sans-serif;
    color: #000000;
    margin-bottom: 75px;
    text-align: center;
    margin-left: 300px;
  }
  img {
    padding-left: 400px;
  }
}
