<section class="stats-section-7">
    <div class="stat-item-section-7">
      <h2 class="h2-section-7">6</h2>
      <p  class="p-section-7">Happy Clients</p>
    </div>
    <div class="stat-item-section-7">
      <h2 class="h2-section-7">11</h2>
      <p class="p-section-7">Completed Projects</p>
    </div>
    <div class="stat-item-section-7">
      <h2 class="h2-section-7">7M</h2>
      <p class="p-section-7">Transactions</p>
    </div>
    <div class="stat-item-section-7">
      <h2 class="h2-section-7">6000+</h2>
      <p class="p-section-7">Customers</p>
    </div>
    <img src="/img/section7/svg/Succlent angle 1.svg" alt="Succulent decoration" class="decoration-section-7 succulent">
    <img src="/img/section7/svg/Bell Angle 1.svg" alt="Bell decoration" class="decoration-section-7 bell">
  </section>