<section class="stats-section-7">
    <div class="stat-item-section-7">
      <h2>6</h2>
      <p>Happy Clients</p>
    </div>
    <div class="stat-item-section-7">
      <h2>11</h2>
      <p>Completed Projects</p>
    </div>
    <div class="stat-item-section-7">
      <h2>7M</h2>
      <p>Transactions</p>
    </div>
    <div class="stat-item-section-7">
      <h2>6000+</h2>
      <p>Customers</p>
    </div>
    <img src="/img/section7/svg/Succlent angle 1.svg" alt="Succulent decoration" class="decoration-section-7 succulent">
    <img src="/img/section7/svg/Bell Angle 1.svg" alt="Bell decoration" class="decoration-section-7 bell">
  </section>