<section class="stats-section-7" data-aos="fade-down">
  <div class="stat-item-section-7">
    <h2 class="h2-section-7">27</h2>
    <p class="p-section-7">Клієнтів</p>
  </div>
  <div class="stat-item-section-7">
    <h2 class="h2-section-7">42</h2>
    <p class="p-section-7">проєкти</p>
  </div>
  <div class="stat-item-section-7">
    <h2 class="h2-section-7">100+</h2>
    <p class="p-section-7">заявок</p>
  </div>
  <div class="stat-item-section-7">
    <h2 class="h2-section-7">20+</h2>
    <p class="p-section-7">відгуків</p>
  </div>
  <img
    src="/img/section7/svg/Succlent angle 1.svg"
    alt="Succulent decoration"
    class="decoration-section-7 succulent"
  />
  <img
    src="/img/section7/svg/Bell Angle 1.svg"
    alt="Bell decoration"
    class="decoration-section-7 bell"
  />
</section>
