<footer class="footer">
  <img class="footer-logo" src="../../../img/footer/svg/logo.svg" alt="logo">
  <nav class="footer-ps">
    <ul class="footer-ul">
      <li class="footer-p1">
        Цифрова веб-агенція — провідний постачальник інноваційних цифрових рішень. Ми спеціалізуємося на веб-дизайні, розробці та маркетингу, щоб допомогти бізнесам зростати в онлайн-просторі.
      </li>
      <li class="footer-p2">
        @WebDesignHub
      </li>
      <li class="footer-p3">
        Про нас
      </li>
      <li class="footer-p4">
        @WebDesignHub
        портфоліо
        кар'єра
        Зв'язатися з нами
      </li>
      <li class="footer-p5">
        Зв'язатися з нами
      </li>
      <li class="footer-p9">
        Зв'яжіться з нами для індивідуальних цифрових рішень, запитів чи співпраці в проєктах. Ми завжди на зв'язку!
      </li>
      <li class="footer-p10">
        +380-66-858-4345
      </li>
    </ul>
  </nav>
  <nav class="footer-2">
    <ul class="footer-buttons">
      <li class="footer-button1">
        <a href="https://facebook.com" target="_blank" >
        <img class="footer-facebook" src="../../../img/footer/svg/facebook 1.svg" alt="facebook 1.svg">
      </a>
    </li>
      <li class="footer-button2">
        <a href="https://instagram.com" target="_blank" >
        <img class="footer-instagram" src="../../../img/footer/svg/instagram 1.svg" alt="instagram 1.svg">
      </a>
    </li>
      <li class="footer-button3">
        <a href="https://twitter.com" target="_blank" >
        <img class="footer-twitter" src="../../../img/footer/svg/twitter 1.svg" alt="twitter 1.svg">
      </a>
    </li>
      <li class="footer-button4">
        <a href="https://linkedin.com" target="_blank" >
        <img class="footer-linkedin" src="../../../img/footer/svg/linkedin 1.svg" alt="linkedin 1.svg">
      </a>
    </li>
    </ul>
    <hr class="footer-hr">
    <p class="footer-p11">Copyright ® 2021 Lorem All rights Rcerved</p>
  </nav>
</footer>