<footer class="footer">
  <img class="footer-logo" src="../../../img/footer/svg/logo.svg" alt="logo">
  <nav class="footer-ps">
    <ul class="footer-ul">
      <li class="footer-p1">
        Digital Web Agency is a leading provider of innovative digital solutions. We specialize in web design, development, and marketing to help businesses grow online.
      </li>
      <li class="footer-p2">
        @WebDesignHub
      </li>
      <li class="footer-p3">
        About us
      </li>
      <li class="footer-p4">
        @WebDesignHub
        Portfolio
        Careers
        Contact us
      </li>
      <li class="footer-p5">
        Contact us
      </li>
      <li class="footer-p9">
        Get in touch for custom digital solutions, inquiries, or project collaborations. We're here!
      </li>
      <li class="footer-p10">
        +380-66-858-4345
      </li>
    </ul>
  </nav>
  <nav class="footer-2">
    <ul class="footer-buttons">
      <li class="footer-button1">
        <a href="https://facebook.com" target="_blank" >
        <img class="footer-facebook" src="../../../img/footer/svg/facebook 1.svg" alt="facebook 1.svg">
      </a>
    </li>
      <li class="footer-button2">
        <a href="https://instagram.com" target="_blank" >
        <img class="footer-instagram" src="../../../img/footer/svg/instagram 1.svg" alt="instagram 1.svg">
      </a>
    </li>
      <li class="footer-button3">
        <a href="https://twitter.com" target="_blank" >
        <img class="footer-twitter" src="../../../img/footer/svg/twitter 1.svg" alt="twitter 1.svg">
      </a>
    </li>
      <li class="footer-button4">
        <a href="https://linkedin.com" target="_blank" >
        <img class="footer-linkedin" src="../../../img/footer/svg/linkedin 1.svg" alt="linkedin 1.svg">
      </a>
    </li>
    </ul>
    <hr class="footer-hr">
    <p class="footer-p11">Copyright ® 2021 Lorem All rights Rcerved</p>
  </nav>
</footer>