<footer class="footer">
  <img class="footer-logo" src="../../../img/footer/svg/logo.svg" alt="logo">
  <div class="footer-ps">
    <ul>
      <li class="footer-ps1">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </li>
      <li class="footer-ps1">
        @Lorem
      </li>
      <li class="footer-pmain">
        About us
      </li>
      <li class="footer-ps2">
        Lorem
      </li>
      <li class="footer-ps2">
        Portfolio
      </li>
      <li class="footer-ps2">
        Careers
      </li>
      <li class="footer-ps2">
        Contact us
      </li>
      <li class="footer-pmain">
        Contact us
      </li>
      <li class="footer-ps3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </li>
      <li class="footer-ps3">
        +908 89097 890
      </li>
    </ul>
  </div>
  <div class="footer-buttons">
    <a href="https://facebook.com" target="_blank" class="footer-button1">
      <img class="footer-facebook" src="../../../img/footer/svg/facebook 1.svg" alt="facebook 1.svg">
    </a>
    <a href="https://instagram.com" target="_blank" class="footer-button2">
      <img class="footer-instagram" src="../../../img/footer/svg/instagram 1.svg" alt="instagram 1.svg">
    </a>
    <a href="https://twitter.com" target="_blank" class="footer-button3">
      <img class="footer-twitter" src="../../../img/footer/svg/twitter 1.svg" alt="twitter 1.svg">
    </a>
    <a href="https://linkedin.com" target="_blank" class="footer-button4">
      <img class="footer-linkedin" src="../../../img/footer/svg/linkedin 1.svg" alt="linkedin 1.svg">
    </a>
  </div>
  <hr class="footer-hr">
  <p class="footer-p12">Copyright ® 2021 Lorem All rights Rcerved</p>
</footer>