<section class="section6">
  <div class="backGround">
      <div class="conteiner1">
          <div >
               <img src="/img/Speaker Angle 1.png" alt="">
           </div>
           <h2>Our <span class="highlight">Services</span></h2>
           <p>We offer creative and innovative digital solutions to help businesses grow and thrive online with cutting-edge technology.</p>   
      </div>
     </div>
  
  
     <div class="table">
      <div class="T">
          <div class="svg mobile">
              <img src="/svg/wepAplication.svg" alt="">
          </div>
         
          <div class="card">
              <h4 class="h1">Mobile Applications</h4>
              <p class="p1">The simplest but robust technology to accompany with you</p>
          </div>
      </div>
      
      <div  class="T">
          <div class="svg web">
              <img src="/svg/mobileAplication.svg" alt="">
          </div>
          <div  class="card">
              <h4 class="h2">Web Application</h4>
              <p class="p2">Platform independant business solutions for maximum availability</p>
          </div>
      </div>

      <div  class="T">
          <div class="svg seo">
              <img src="/svg/SEO.svg" alt="">
          </div>
          <div  class="card">
              <h4 class="h3">SEO</h4>
              <p class="p3">Let the world find you on top of others</p>
          </div>
      </div>

      <div  class="T">
          <div class="svg arvr">
              <img src="/svg/arvrSolutions.svg" alt="">
          </div>
          <div  class="card">
              <h4 class="h4">AR/VR Solutions</h4>
              <p class="p4">Advanced autonomous technologies to make life simple</p>
          </div>
      </div>
     </div>
  
     
      <div class="conteiner2">
          <div class="content">
             <div>
              <h3><span class="highlight">Digital Web Agency: </span> Crafting Innovative Solutions for Your Business</h3>
              <p class="p1">As a leading Digital Web Agency, we specialize in developing tailored solutions to meet the unique needs of your business. From website design to digital marketing strategies, our team combines creativity and technology to deliver results.</p>
              <p class="p2">We help businesses enhance their online presence, increase engagement, and drive growth with innovative digital services that make an impact in today's competitive market.</p>
              <button >Contact us</button>           
             </div>
             <div class="image">
               <img src="/img/3D Illustration-Product Development-Skin-01 1.png" alt="">    
             </div> 
          </div>
      </div>
      <img src="/img/Vector 2.png" alt="" class="vector2">   
      <img src="/img/Vector 3.png" alt="" class="vector3">   
     
</section>