<section class="section-6">
    <div class="section-6_blueBackground">
        <div class="section-6_blueBackground_upContainer">
            <div class="section-6_blueBackground_upContainer_speakerCircle">
                <img class="section-6_blueBackground_upContainer_speakerCircle_img" src="/img/section6/svg/Speaker Angle 1.svg" alt="">
            </div>
            <div class="section-6_blueBackground_upContainer_textContent">
                <h3>Our <span>Services</span></h3>
                <p>We offer creative and innovative digital solutions to help businesses grow and thrive online with cutting-edge technology.</p>
            </div>
        </div>
        <div class="section-6_blueBackground_Services">
            <div class="section-6_blueBackground_Services_ItemContainer">
                <div class="section-6_blueBackground_Services_ItemContainer_horizontalLine"></div>
                <div class="section-6_blueBackground_Services_ItemContainer_verticalLine"></div>
                <li class="section-6_blueBackground_Services_item">
                    <div class="section-6_blueBackground_Services_item_mobileBg">
                        <img src="/img/section6/svg/mobile.svg" alt="MobilePhone" class="section-6_blueBackground_Services_item_mobileBg_img">
                    </div>
                    <div class="section-6_blueBackground_Services_item_MobileTextContainer">
                        <h3>Mobile Applications</h3>
                        <p>The simplest but robust technology to accompany with you</p>
                    </div>
                </li>
                <li class="section-6_blueBackground_Services_item">
                    <div class="section-6_blueBackground_Services_item_WebApplicationBg">
                        <img src="/img/section6/svg/apps 1.svg" alt="WebApplication" class="section-6_blueBackground_Services_item_WebApplicationBg_img">
                    </div>
                    <div class="section-6_blueBackground_Services_item_ApplicationTextContainer">
                        <h3>Mobile Applications</h3>
                        <p>Platform independant business solutions for maximum availability</p>
                    </div>
                </li>
                <li class="section-6_blueBackground_Services_item">
                    <div class="section-6_blueBackground_Services_item_SeoBg">
                        <img src="/img/section6/svg/startup 1.svg" alt="SeoSvg" class="section-6_blueBackground_Services_item_SeoBg_img">
                    </div>
                    <div class="section-6_blueBackground_Services_item_SeoTextContainer">
                        <h3>SEO</h3>
                        <p>Let the world find you on top of others</p>
                    </div>
                </li>
                <li class="section-6_blueBackground_Services_item">
                    <div class="section-6_blueBackground_Services_item_VrBg">
                        <img src="/img/section6/svg/immersive 1.svg" alt="VrSvg" class="section-6_blueBackground_Services_item_VrBg_img">
                    </div>
                    <div class="section-6_blueBackground_Services_item_VrTextContainer">
                        <h3>AR/VR Solutions</h3>
                        <p>Advanced autonomous technologies to make life simple</p>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <div class="section-6_whiteContainer">
        <div class="section-6_whiteContainer_Content">
            <div class="section-6_whiteContainer_Content_TextAndButton">
                <h3><span>Digital Web Agency:</span>Crafting Innovative Solutions for Your Business</h3>
                <ul class="section-6_whiteContainer_Content_TextAndButton_list">
                    <li class="section-6_whiteContainer_Content_TextAndButton_list_Item">As a leading Digital Web Agency, we specialize in developing tailored solutions to meet the unique needs of your business. From website design to digital marketing strategies, our team combines creativity and technology to deliver results.</li>
                    <li class="section-6_whiteContainer_Content_TextAndButton_list_Item">We help businesses enhance their online presence, increase engagement, and drive growth with innovative digital services that make an impact in today's competitive market.</li>
                </ul>
                <button class="section-6_whiteContainer_Content_TextAndButton_Button">Contact us</button>
            </div>
            <div class="section-6_whiteContainer_Content_imgContainer">
                <img src="/img/section6/svg/3D Illustration-Product Development-Skin-01 1.svg" alt="Development">
            </div>
        </div>
    </div>
</section>