<section class="section-6" id="services">
  <div class="section-6_blueBackground" data-aos="zoom-in">
    <div class="section-6_blueBackground_upContainer" data-aos="fade-down">
      <div class="section-6_blueBackground_upContainer_speakerCircle">
        <img
          class="section-6_blueBackground_upContainer_speakerCircle_img"
          src="/img/section6/svg/Speaker Angle 1.svg"
          alt=""
        />
      </div>
      <div class="section-6_blueBackground_upContainer_textContent">
        <h3>Наші <span>послуги</span></h3>
        <p>
          Ми пропонуємо креативні та інноваційні цифрові рішення, які
          допомагають бізнесам зростати та процвітати в онлайн-середовищі за
          допомогою передових технологій.
        </p>
      </div>
    </div>
    <div class="section-6_blueBackground_Services">
      <img
        class="section-6_blueBackground_Services_UpImg"
        src="/img/section6/svg/Succlent angle 2.svg"
        alt="Succlent angle"
      />
      <div class="section-6_blueBackground_Services_ItemContainer">
        <div
          class="section-6_blueBackground_Services_ItemContainer_horizontalLine"
        ></div>
        <div
          class="section-6_blueBackground_Services_ItemContainer_verticalLine"
        ></div>
        <li class="section-6_blueBackground_Services_item">
          <div class="section-6_blueBackground_Services_item_mobileBg">
            <img
              src="/img/section6/svg/mobile.svg"
              alt="MobilePhone"
              class="section-6_blueBackground_Services_item_mobileBg_img"
            />
          </div>
          <div
            class="section-6_blueBackground_Services_item_MobileTextContainer"
          >
            <h3>Мобільні додатки</h3>
            <p>
              Найпростіша, але надійна технологія, яка стане вашим супутником.
            </p>
          </div>
        </li>
        <li class="section-6_blueBackground_Services_item">
          <div class="section-6_blueBackground_Services_item_WebApplicationBg">
            <img
              src="/img/section6/svg/apps 1.svg"
              alt="WebApplication"
              class="section-6_blueBackground_Services_item_WebApplicationBg_img"
            />
          </div>
          <div
            class="section-6_blueBackground_Services_item_ApplicationTextContainer"
          >
            <h3>Веб-додаток</h3>
            <p>
              Платформо-незалежні бізнес-рішення для максимальної доступності
            </p>
          </div>
        </li>
        <li class="section-6_blueBackground_Services_item">
          <div class="section-6_blueBackground_Services_item_SeoBg">
            <img
              src="/img/section6/svg/startup 1.svg"
              alt="SeoSvg"
              class="section-6_blueBackground_Services_item_SeoBg_img"
            />
          </div>
          <div class="section-6_blueBackground_Services_item_SeoTextContainer">
            <h3>СЕО</h3>
            <p>Нехай світ знаходить вас серед найкращих.</p>
          </div>
        </li>
        <li class="section-6_blueBackground_Services_item">
          <div class="section-6_blueBackground_Services_item_VrBg">
            <img
              src="/img/section6/svg/immersive 1.svg"
              alt="VrSvg"
              class="section-6_blueBackground_Services_item_VrBg_img"
            />
          </div>
          <div class="section-6_blueBackground_Services_item_VrTextContainer">
            <h3>Рішення AR/VR</h3>
            <p>Передові автономні технології для спрощення життя</p>
          </div>
        </li>
      </div>
    </div>
  </div>
  <div class="section-6_whiteContainer">
    <div class="section-6_whiteContainer_Content">
      <div
        class="section-6_whiteContainer_Content_TextAndButton"
        data-aos="fade-right"
      >
        <h3>
          <span>Цифрове веб-агентство: </span>Створення інноваційних рішень для
          вашого бізнесу
        </h3>
        <ul class="section-6_whiteContainer_Content_TextAndButton_list">
          <li
            class="section-6_whiteContainer_Content_TextAndButton_list_Item first"
          >
            Як провідне цифрове веб-агентство, ми спеціалізуємося на розробці
            індивідуальних рішень, що відповідають унікальним потребам вашого
            бізнесу. Від дизайну вебсайтів до стратегій цифрового маркетингу,
            наша команда поєднує креативність та технології для досягнення
            результатів.
          </li>
          <li class="section-6_whiteContainer_Content_TextAndButton_list_Item">
            Ми допомагаємо бізнесам покращити їх онлайн-присутність, збільшити
            залученість та стимулювати зростання за допомогою інноваційних
            цифрових послуг, які справляють вплив на сучасному конкурентному
            ринку.
          </li>
        </ul>
        <button
          class="section-6_whiteContainer_Content_TextAndButton_Button contact-us"
        >
          Зв'яжіться з нами
        </button>
      </div>
      <div
        class="section-6_whiteContainer_Content_imgContainer"
        data-aos="fade-left"
      >
        <img
          src="/img/section6/svg/3D Illustration-Product Development-Skin-01 1.svg"
          alt="Development"
        />
      </div>
      <img
        src="/img/section6/svg/Vector 2.svg"
        alt="left dashed line"
        class="section-6_whiteContainer_Content_left-Dashed-Line"
      />
      <img
        src="/img/section6/svg/Vector 3.svg"
        alt="right dashed line"
        class="section-6_whiteContainer_Content_right-Dashed-Line"
      />
    </div>
  </div>
</section>
