@keyframes shake-top {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
.section-3_Container_itemContainer_svg {
  display: none;
}

.section-3_Container {
  list-style: none;
}

@media (min-width: 1441px) {
  .section-3 {
    width: 100vw;
    height: 676px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-3_Container {
    min-width: 88.76vw;
    height: 676px;
    display: flex;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard {
    width: 27.92vw;
    height: 586px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 20px;
  }
  .section-3_Container_CommonStylesCard_itemContainer {
    width: 23.23vw;
    height: 442px;
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer {
    width: 23.23vw;
    height: 333px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer h3 {
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 170%;
    width: 17.81vw;
    text-align: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer p {
    width: 23.23vw;
    font-size: 0.83vw;
    font-weight: 400;
    text-align: center;
    line-height: 170%;
  }
  .section-3_Container_CommonStylesCard_itemContainer button {
    width: 7.45vw;
    height: 62px;
    font-size: 0.94vw;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #FFF;
  }
  .centerCard {
    display: none;
  }
  .monitor {
    display: flex;
  }
  .rightCard {
    display: block;
    position: absolute;
    width: 7.2917vw;
    height: 140px;
    left: 9.4792vw;
    bottom: 444px;
  }
}
@media (max-width: 1440px) {
  .section-3 {
    width: 100vw;
    height: 459px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-3_Container {
    min-width: 83.3333vw;
    height: 459px;
    display: flex;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard {
    width: 39.7222vw;
    height: 459px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 20px;
  }
  .section-3_Container_CommonStylesCard_itemContainer {
    width: 33.0556vw;
    height: 358px;
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer {
    width: 33.0556vw;
    height: 288px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer h3 {
    font-size: 1.7361vw;
    font-weight: 600;
    line-height: 154%;
    width: 25.4167vw;
    text-align: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer p {
    width: 33.0556vw;
    font-size: 1.1111vw;
    font-weight: 400;
    text-align: center;
    line-height: 170%;
  }
  .section-3_Container_CommonStylesCard_itemContainer button {
    width: 10.4167vw;
    height: 49px;
    font-size: 1.1111vw;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #FFF;
  }
  .centerCard {
    display: block;
    position: absolute;
    width: 8.3333vw;
    height: 120px;
    left: 25.5556vw;
    bottom: 353px;
  }
  .monitor {
    display: none;
  }
}
@media (max-width: 1024px) {
  .section-3 {
    width: 100vw;
    height: 683px;
    display: flex;
    align-items: center;
  }
  .section-3_Container {
    min-width: 87.8906vw;
    height: 663px;
    display: flex;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard {
    width: 42.0898vw;
    height: 663px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 20px;
  }
  .section-3_Container_CommonStylesCard_itemContainer {
    width: 35.0586vw;
    height: 500px;
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer {
    width: 35.0586vw;
    height: 361px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer h3 {
    font-size: 2.9297vw;
    font-weight: 600;
    line-height: 170%;
    width: 31.7383vw;
    text-align: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer p {
    width: 35.0586vw;
    font-size: 1.5625vw;
    font-weight: 400;
    text-align: center;
    line-height: 170%;
  }
  .section-3_Container_CommonStylesCard_itemContainer button {
    width: 26.9531vw;
    height: 71px;
    font-size: 2.4414vw;
  }
  .centerCard {
    display: block;
    position: absolute;
    width: 8.7891vw;
    height: 90px;
    left: 27.5391vw;
    bottom: 537px;
  }
  .monitor {
    display: none;
  }
}
@media (max-width: 768px) {
  .section-3 {
    width: 100vw;
    height: 721px;
    display: flex;
    align-items: center;
    overflow: scroll;
  }
  .section-3_Container {
    min-width: 183.59vw;
    height: 683px;
    display: flex;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard {
    width: 56.12vw;
    height: 683px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 20px;
  }
  .section-3_Container_CommonStylesCard_itemContainer {
    width: 44.92vw;
    height: 500px;
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer {
    width: 44.92vw;
    height: 386px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer h3 {
    font-size: 3.91vw;
    font-weight: 600;
    line-height: 170%;
    width: 40.63vw;
    text-align: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer p {
    width: 44.92vw;
    font-size: 2.08vw;
    font-weight: 400;
    text-align: center;
    line-height: 170%;
  }
  .section-3_Container_CommonStylesCard_itemContainer button {
    width: 35.94vw;
    height: 71px;
    font-weight: 500;
    font-size: 3.26vw;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #FFF;
  }
  .centerCard {
    display: block;
    position: absolute;
    width: 11.71875vw;
    height: 90px;
    left: 35.4167vw;
    bottom: 546px;
  }
  .rightCard {
    display: none;
  }
}
@media (max-width: 320px) {
  .section-3 {
    width: 100vw;
    height: 231px;
    display: flex;
    align-items: center;
    overflow: scroll;
  }
  .section-3_Container {
    min-width: 145vw;
    height: 213px;
    display: flex;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard {
    width: 43.125vw;
    height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 20px;
  }
  .section-3_Container_CommonStylesCard_itemContainer {
    width: 36.875vw;
    height: 169px;
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer {
    width: 36.875vw;
    height: 137px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer h3 {
    font-size: 3.125vw;
    width: 32.8125vw;
  }
  .section-3_Container_CommonStylesCard_itemContainer_textContainer p {
    width: 35.9375vw;
    font-size: 1.875vw;
  }
  .section-3_Container_CommonStylesCard_itemContainer button {
    width: 27.8125vw;
    font-size: 3.125vw;
    height: 23px;
  }
  .centerCard {
    display: block;
    position: absolute;
    width: 9.0625vw;
    height: 29px;
    left: 90px;
    bottom: 177px;
  }
}
.section-3_Container_CommonStylesCard {
  transition-duration: 0.3s;
}
.section-3_Container_CommonStylesCard:hover {
  background: #1090CB;
  transition-duration: 0.6s;
}
.section-3_Container_CommonStylesCard:hover .section-3_Container_CommonStylesCard_itemContainer_textContainer h3 {
  color: #FFF;
}
.section-3_Container_CommonStylesCard:hover .section-3_Container_CommonStylesCard_itemContainer_textContainer p {
  color: #fff;
}
.section-3_Container_CommonStylesCard:hover .section-3_Container_CommonStylesCard_itemContainer button {
  background: #fff;
  color: #1090CB;
}
.section-3_Container_CommonStylesCard:hover .section-3_Container_CommonStylesCard_itemContainer_svg {
  animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}/*# sourceMappingURL=section-3.css.map */