@media (max-width: 1920px) {
  .section-3 {
    width: 100vw;
    height: 5886px;
  }
  .section-3_Container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
  }
  .section-3_Container_leftCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_leftCard_Title {
    padding-top: 82px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    width: 365px;
    line-height: 42.5px;
  }
  .section-3_Container_leftCard_subTitle {
    font-weight: 400;
    font-size: 16px;
    padding-top: 67px;
    width: 446px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_leftCard_button {
    margin-top: 92px;
    width: 143px;
    height: 62px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
    cursor: pointer;
  }
  .section-3_Container_RightCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_RightCard_Title {
    padding-top: 82px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    width: 365px;
    line-height: 42.5px;
  }
  .section-3_Container_RightCard_subTitle {
    font-weight: 400;
    font-size: 16px;
    padding-top: 24px;
    width: 445px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_RightCard_button {
    width: 143px;
    height: 62px;
    margin-top: 62px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
  }
  .section-3_Container_RightCard_svg {
    display: none;
  }
  .section-3_Container_MonitorCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_MonitorCard_Title {
    padding-top: 82px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    width: 341px;
    line-height: 42.5px;
  }
  .section-3_Container_MonitorCard_subTitle {
    font-weight: 400;
    font-size: 16px;
    padding-top: 67px;
    width: 446px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_MonitorCard_button {
    width: 143px;
    height: 62px;
    margin-top: 92px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
  }
  .section-3_Container_MonitorCard_svg {
    position: absolute;
    bottom: 516px;
    left: 168px;
    width: 140px;
    height: 140px;
  }
  .CommonStylesCard {
    min-width: 535px;
    height: 586px;
    border-radius: 20px;
    background: #F4F4F4;
  }
  .CommonStylesCard:hover {
    background: #1090CB;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
}
@media screen and (max-width: 1440px) {
  .section-3 {
    width: 100vw;
    height: 100%;
  }
  .section-3_Container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100vw;
    justify-content: space-between;
  }
  .section-3_Container_leftCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_leftCard_Title {
    padding-top: 52px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    width: 365px;
    line-height: 38.5px;
  }
  .section-3_Container_leftCard_subTitle {
    font-weight: 400;
    font-size: 16px;
    padding-top: 48px;
    width: 476px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_leftCard_button {
    margin-top: 42px;
    width: 153px;
    height: 49px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
    cursor: pointer;
  }
  .section-3_Container_RightCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_RightCard_Title {
    padding-top: 37px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    width: 365px;
    line-height: 38.5px;
  }
  .section-3_Container_RightCard_subTitle {
    font-weight: 400;
    font-size: 16px;
    width: 476px;
    padding-top: 33px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_RightCard_button {
    width: 153px;
    height: 49px;
    margin-top: 36px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
  }
  .section-3_Container_RightCard_svg {
    display: block;
    position: absolute;
    bottom: 397px;
    left: 428px;
    width: 120px;
    height: 120px;
  }
  .section-3_Container_MonitorCard {
    display: none;
  }
  .CommonStylesCard {
    min-width: 572px;
    height: 459px;
    border-radius: 20px;
    background: #F4F4F4;
    transition-duration: 0.3s;
  }
  .CommonStylesCard:hover {
    background: #1090CB;
    transition-duration: 0.6s;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
}
@media (max-width: 1024px) {
  .section-3_Container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
  }
  .section-3_Container_leftCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_leftCard_Title {
    padding-top: 93px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    width: 325px;
    line-height: 51px;
  }
  .section-3_Container_leftCard_subTitle {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    width: 358px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_leftCard_button {
    width: 276px;
    height: 71px;
    margin-top: 67px;
    border: none;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
    cursor: pointer;
  }
  .section-3_Container_RightCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
  }
  .section-3_Container_RightCard_Title {
    padding-top: 93px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    width: 325px;
    line-height: 51px;
  }
  .section-3_Container_RightCard_subTitle {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    width: 358px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_RightCard_button {
    width: 276px;
    height: 71px;
    margin-top: 67px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
  }
  .section-3_Container_RightCard_svg {
    display: block;
    position: absolute;
    bottom: 616px;
    left: 341px;
    width: 90px;
    height: 90px;
  }
  .section-3_Container_MonitorCard {
    display: none;
  }
  .CommonStylesCard {
    min-width: 431px;
    height: 662px;
    border-radius: 20px;
    background: #F4F4F4;
    transition-duration: 0.3s;
  }
  .CommonStylesCard:hover {
    background: #1090CB;
    transition-duration: 0.6s;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
}
@media (max-width: 768px) {
  .section-3_Container {
    display: flex;
    overflow: scroll;
    column-gap: 74px;
  }
  .section-3_Container_MonitorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_MonitorCard_Title {
    padding-top: 92px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    width: 312px;
    line-height: 51px;
  }
  .section-3_Container_MonitorCard_subTitle {
    padding-top: 81px;
    font-weight: 400;
    font-size: 16px;
    width: 345px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_MonitorCard_button {
    margin-top: 42px;
    width: 276px;
    height: 71px;
    font-weight: 500;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
    cursor: pointer;
  }
  .section-3_Container_MonitorCard_svg {
    display: none;
  }
  .section-3_Container_leftCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_leftCard_Title {
    padding-top: 92px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    width: 312px;
    line-height: 51px;
  }
  .section-3_Container_leftCard_subTitle {
    font-weight: 400;
    font-size: 16px;
    padding-top: 71px;
    width: 345px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_leftCard_button {
    width: 276px;
    height: 71px;
    font-weight: 500;
    font-size: 25px;
    margin-top: 56px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
    cursor: pointer;
  }
  .section-3_Container_RightCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
  }
  .section-3_Container_RightCard_Title {
    padding-top: 92px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    width: 312px;
    line-height: 51px;
  }
  .section-3_Container_RightCard_subTitle {
    font-weight: 400;
    padding-top: 71px;
    font-size: 16px;
    width: 358px;
    text-align: center;
    line-height: 27.2px;
  }
  .section-3_Container_RightCard_button {
    width: 276px;
    height: 71px;
    margin-top: 56px;
    font-weight: 500;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
  }
  .section-3_Container_RightCard_svg {
    position: absolute;
    width: 90px;
    height: 90px;
    bottom: 618px;
    left: 269px;
  }
  .CommonStylesCard {
    min-width: 431px;
    height: 662px;
    border-radius: 20px;
    background: #F4F4F4;
    transition-duration: 0.3s;
  }
  .CommonStylesCard:hover {
    background: #1090CB;
    transition-duration: 0.6s;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
  .CommonStylesCard:hover .section-3_Container_MonitorCard_Title {
    color: white;
  }
  .CommonStylesCard:hover .section-3_Container_MonitorCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_MonitorCard_button {
    color: #1090CB;
    background: #Fff;
  }
}
@media (max-width: 425px) {
  .section-3_Container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  .section-3_Container_MonitorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_MonitorCard_Title {
    padding-top: 21px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    width: 105px;
    line-height: 17px;
  }
  .section-3_Container_MonitorCard_subTitle {
    font-weight: 400;
    font-size: 6px;
    width: 115px;
    padding-top: 7px;
    text-align: center;
    line-height: 9.6px;
  }
  .section-3_Container_MonitorCard_button {
    width: 88px;
    height: 22px;
    margin-top: 18.61px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
    font-size: 10px;
    font-weight: 500;
  }
  .section-3_Container_MonitorCard_svg {
    display: none;
  }
  .section-3_Container_leftCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_leftCard_Title {
    padding-top: 20px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    width: 105px;
    line-height: 17px;
  }
  .section-3_Container_leftCard_subTitle {
    font-weight: 400;
    font-size: 5px;
    padding-top: 7px;
    width: 115px;
    text-align: center;
    line-height: 8.5px;
  }
  .section-3_Container_leftCard_button {
    width: 88px;
    height: 22px;
    margin-top: 35px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
  }
  .section-3_Container_RightCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
  .section-3_Container_RightCard_Title {
    padding-top: 20px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    width: 105px;
    line-height: 17px;
  }
  .section-3_Container_RightCard_subTitle {
    font-weight: 400;
    font-size: 6px;
    padding-top: 7px;
    width: 115px;
    text-align: center;
    line-height: 9.6px;
  }
  .section-3_Container_RightCard_button {
    width: 88px;
    height: 22px;
    margin-top: 9px;
    border: none;
    border-radius: 10px;
    background: #1090CB;
    color: #Fff;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
  }
  .section-3_Container_RightCard_svg {
    position: absolute;
    bottom: 197px;
    left: 87px;
    width: 30px;
    height: 30px;
  }
  .CommonStylesCard {
    min-width: 138px;
    height: 212px;
    border-radius: 20px;
    background: #F4F4F4;
    transition-duration: 0.3s;
  }
  .CommonStylesCard:hover {
    background: #1090CB;
    transition-duration: 0.6s;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_Title {
    width: 105px;
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_leftCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_RightCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
  .CommonStylesCard:hover .section-3_Container_MonitorCard_Title {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_MonitorCard_subTitle {
    color: #Fff;
  }
  .CommonStylesCard:hover .section-3_Container_MonitorCard_button {
    background: #FFFFFF;
    color: #1090CB;
  }
}
