<section id="pop-up-section">
  <div class="pop-up">
    <div class="modal-header">
      <img src="/img/modalwindow/logo (3).svg" alt="logo" class="logo" />
      <button id="close">
        <img src="/img/modalwindow/closebtn.svg" alt="close" />
      </button>
    </div>
    <h1>Зворотній зв'язок</h1>
    <form action="">
      <div id="data">
        <input type="text" id="name" placeholder="Ім'я..." />
        <input type="number" id="phoneNumber" placeholder="+380-XX-XXX-XXXX" />
        <textarea
          id="message"
          placeholder="Опишіть Вашу проблему..."
        ></textarea>
      </div>
      <button id="send-us">Надішліть це</button>
    </form>
  </div>
  <script src="/js/modal-window/modal-window.js"></script>
</section>
