<section class="modalSection">
<div class="modal" id="modal">
  <div class="modalsLeft">
  <img class="logo" src="../../../img/modalwindow/logo (3).svg" alt="logo">
  <h2>Contact us</h2>
  <img class="image" src="../../../img/modalwindow/Group 234.png" alt="error">  
  </div>
  <div class="divForm">
  <form action="" class="modalForm">
      <input type="text" class="name" placeholder="Type here" />
      <label for="Name">Name</label>
      <input type="number" class="phoneNumber" placeholder="+380-XX-XXX-XXXX" />
      <input type="text" class="problem" placeholder="Describe your problem..." />
      <button type="submit" class="sendUs">Send us</button>
    </form>
  </div>
  </div>
</section>