header {
  position: sticky;
  border-bottom: 0.07mm solid #c4c4c4;
}
header .header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header__nav #logo {
  margin-left: 16px;
  width: 62px;
  height: 62px;
}
header .header__nav .categories {
  position: relative;
  width: 100vw;
  height: 77px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 36px;
  gap: 61px;
}
header .header__nav .categories .nav-link {
  position: relative;
  text-decoration: none;
  color: black;
}
header .header__nav .categories .ball {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #08d3bb;
  transition: top 0.3s ease, left 0.3s ease;
}
header .header__nav .categories button {
  padding: 11px 27px 11px 27px;
  border-radius: 6px;
  border: transparent;
  background: #1090cb;
  color: white;
}

.categories a.active {
  color: #1090cb !important;
}
