* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1920px) {
  .modalSection {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* затемнение */

    z-index: 1000; /* чтобы перекрывать другие элементы */
  }
  .modal {
    width: 1600px;
    height: 1055px;
    top: 155px;
    left: 160px;
    gap: 0px;
    border-radius: 37px;
    background: rgba(255, 255, 255, 1);
    background-image: url(../../../img/modalwindow/Intersect.png),
      url(../../../img/modalwindow/Intersect-1.png);
    background-repeat: no-repeat;
    background-position-x: left, right;
    background-position-y: bottom;
    display: flex;
    justify-content: space-around;

    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .modalsLeft {
      margin-top: 50px;
    }
    .divForm {
      .modalForm {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        justify-content: space-between;

        input {
          display: flex;
          width: 589px;
          height: 91px;
          gap: 0px;
          border-radius: 10px;
          opacity: 0px;
          border: 3px solid rgba(139, 146, 149, 1);
          padding: 30px;
          text-align: start !important;
          position: relative;
        }
        input :active {
          border: 3px solid rgba(19, 146, 203, 1);
        }
        label {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
          transition: all 0.2s ease;
          font-size: 16px;
          visibility: hidden;
          color: #888;
        }

        input:focus + label,
        input:not(:placeholder-shown) + label {
          padding: 2px 5px;
          top: 20px;
          font-size: 12px;
          visibility: visible;
          color: rgba(19, 146, 203, 1);
          border-radius: 5px;
        }
        .problem {
          height: 200px;
        }
        .problem ::placeholder {
          display: flex;
        }
        .sendUs {
          width: 589px;
          height: 91px;
          top: 986px;
          left: 1042px;
          gap: 0px;
          border: none;
          border-radius: 10px;
          opacity: 0px;
          background: rgba(19, 146, 203, 1);
          font-family: Poppins;
          font-size: 40px;
          font-weight: 400;
          line-height: 81.72px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .modal {
    width: 1100px;
    height: 1000px;
    .modalsLeft {
      margin-top: 50px;

      h2 {
        height: 123px;
        top: 360px;
        left: 249px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 60px;
        font-weight: 600;
        line-height: 122.58px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .image {
        width: 513px;
      }
    }
    .divForm {
      .modalForm {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        justify-content: space-between;
        margin-right: 10px;

        input {
          display: flex;
          width: 404px;
          height: 100px;
        }
        input :active {
          border: 3px solid rgba(19, 146, 203, 1);
        }
        label {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
          transition: all 0.2s ease;
          font-size: 16px;
          visibility: hidden;
          color: #888;
        }

        input:focus + label,
        input:not(:placeholder-shown) + label {
          padding: 2px 5px;
          top: 20px;
          font-size: 12px;
          visibility: visible;
          color: rgba(19, 146, 203, 1);
          border-radius: 5px;
        }
        .problem {
          height: 325px;
        }
        .problem ::placeholder {
          display: flex;
        }
        .sendUs {
          width: 404px;
          height: 100px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .modal {
    width: 800px;
    height: 1000px;

    .modalsLeft {
      margin-top: 50px;

      h2 {
        height: 123px;
        top: 309px;
        left: 178px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 60px;
        font-weight: 600;
        line-height: 122.58px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .image {
        width: 400px;
      }
    }
    .divForm {
      .modalForm {
        width: 294.54px;
        height: 735.92px;

        input {
          display: flex;
          width: 294px;
          height: 86px;
        }
        input :active {
          border: 3px solid rgba(19, 146, 203, 1);
        }
        label {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
          transition: all 0.2s ease;
          font-size: 16px;
          visibility: hidden;
          color: #888;
        }

        input:focus + label,
        input:not(:placeholder-shown) + label {
          padding: 2px 5px;
          top: 20px;
          font-size: 12px;
          visibility: visible;
          color: rgba(19, 146, 203, 1);
          border-radius: 5px;
        }
        .problem {
          height: 325px;
        }
        .problem ::placeholder {
          display: flex;
        }
        .sendUs {
          width: 294px;
          height: 86px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .modal {
    width: 578px;
    height: 1028px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .modalsLeft {
      margin-top: 30px;
      width: 530px;

      .logo {
        width: 90px;
      }

      h2 {
        height: 123px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 60px;
        font-weight: 600;
        line-height: 122.58px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin-left: 90px;
      }

      .image {
        width: 326px;
        position: relative;
        top: 300px;
        margin-left: 90px;
      }
    }
    .divForm {
      position: relative;
      top: -600px;
      .modalForm {
        width: 294.54px;
        height: 760px;
        justify-content: start;

        input {
          display: flex;
          width: 446.85px;
          height: 65.53px;
          margin-bottom: 36px;
        }
        input :active {
          border: 3px solid rgba(19, 146, 203, 1);
        }
        label {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
          transition: all 0.2s ease;
          font-size: 16px;
          visibility: hidden;
          color: #888;
        }

        input:focus + label,
        input:not(:placeholder-shown) + label {
          padding: 2px 5px;
          top: 20px;
          font-size: 12px;
          visibility: visible;
          color: rgba(19, 146, 203, 1);
          border-radius: 5px;
        }
        .problem {
          height: 93px;
        }
        .problem ::placeholder {
          display: flex;
        }
        .sendUs {
          width: 446.85px;
          height: 86px;
          margin-top: 350px;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0;

    .modalsLeft {
      width: 90vw;

      .logo {
        width: 50.58px;
        height: 41.36px;
      }

      h2 {
        width: 167px;
        height: 61px;
        top: 62px;
        left: 73px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 61.29px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .image {
        width: 143px;
        height: 134px;
      }
    }
    .divForm {
      top: -350px;
      .modalForm {
        width: 235px;
        height: 422px;

        input {
          width: 235px;
          height: 33.16px;
          border-radius: 10px;
          opacity: 0px;

          font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 20.43px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

        }
        input :active {
          border: 3px solid rgba(19, 146, 203, 1);
        }
        label {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
          transition: all 0.2s ease;
          font-size: 16px;
          visibility: hidden;
          color: #888;
        }

        input:focus + label,
        input:not(:placeholder-shown) + label {
          padding: 2px 5px;
          top: 20px;
          font-size: 12px;
          visibility: visible;
          color: rgba(19, 146, 203, 1);
          border-radius: 5px;
        }
        .problem {
          height: 93px;
        }
        .problem ::placeholder {
          display: flex;
        }
        .sendUs {
          width: 190.38px;
          height: 39.27px;
          top: 500.38px;
          left: 116px;
          gap: 0px;
          opacity: 0px;
          font-family: Poppins;
          font-size: 20px;
          font-weight: 600;
          line-height: 40.86px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          text-align: center;

          margin: 0;
        }
      }
    }
  }
}
