@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');

// === FONTS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1920px) {
  section {
    width: 100vw;
    height: 1365px;
    z-index: 5001;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .pop-up {
      position: relative;

      width: 1600px;
      height: 1005px;
      z-index: 9;

      padding: 50px;

      display: flex;
      flex-flow: column wrap;
      align-items: center;

      border-radius: 37px;
      background: #fff;
      box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);

      background-image: url(../../../img/modalwindow/hero-man.svg),
        url(../../../img/modalwindow/desktop/left-vector.svg),
        url(../../../img/modalwindow/desktop/right-vector.svg);

      background-repeat: no-repeat;

      background-position: 64px 263px, bottom left, bottom right;
    }
    .modal-header {
      width: 1492.365px;
      height: 133.802px;

      display: flex;
      justify-content: space-between;
      align-items: start;

      .close {
        width: 35px;
        height: 35px;

        background-color: transparent;
        border: none;

        cursor: pointer;
      }
    }
    h1 {
      color: #000;

      font-family: Poppins;
      font-size: 80px;
      font-weight: 600;
      line-height: 204.3%;

      position: absolute;
      top: 161px;
      left: 120px;
    }
    form {
      position: absolute;
      bottom: 133px;
      right: 129px;

      width: 589px;
      height: 758px;

      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;

      .data {
        width: 589px;
        height: 625px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        input {
          width: 589px;
          height: 81px;

          padding: 10px 30px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 40px;
          font-weight: 400;
          line-height: 204.3%;

          border-radius: 10px;
          border: 3px solid #8b9295;
        }
        textarea {
          width: 589px;
          height: 333px;

          padding: 10px 30px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 40px;
          font-weight: 400;
          line-height: 204.3%;

          resize: none;

          border-radius: 10px;
          border: 3px solid #8b9295;
        }

        input:focus,
        textarea:focus {
          color: #1090cb;
          border: 3px solid #1090cb;
        }
      }
      .send-us {
        width: 589px;
        height: 91px;

        color: #fff;

        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 204.3%;

        background: #1392cb;

        border: none;
        border-radius: 10px;

        cursor: pointer;
      }
      .send-us:hover {
        background: #1d7eab;
      }
    }
  }
}
@media (max-width: 1440px) {
  section {
    width: 100vw;
    height: 100vh;
    z-index: 5001;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .pop-up {
      position: relative;

      width: 1100px;
      height: 1000px;

      padding: 50px;

      display: flex;
      flex-flow: column wrap;
      align-items: center;

      border-radius: 37px;
      background: #fff;
      box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);

      background-image: url(../../../img/modalwindow/hero-man.svg),
        url(../../../img/modalwindow/desktop/left-vector.svg),
        url(../../../img/modalwindow/desktop/right-vector.svg);

      background-repeat: no-repeat;

      background-size: 513px 627px, auto, auto;

      background-position: 19px 281px, bottom left, bottom right;
    }
    .modal-header {
      width: 1010px;
      height: 95px;

      display: flex;
      justify-content: space-between;
      align-items: start;

      .close {
        width: 25px;
        height: 25px;

        background-color: transparent;
        border: none;

        cursor: pointer;
      }
      .logo {
        height: 95px;
      }
    }
    h1 {
      font-family: Poppins;
      font-size: 60px;
      font-weight: 600;
      line-height: 122.58px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    form {
      position: absolute;
      bottom: 126px;
      right: 88px;

      width: 405px;
      height: 734.6px;

      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;

      .data {
        width: 405px;
        height: 608.3px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        input {
          width: 405px;
          height: 76.26px;

          padding: 10px 30px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 30px;
          font-weight: 400;
          line-height: 61.29px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

          border-radius: 10px;
          border: 3px solid #8b9295;
        }
        textarea {
          width: 404.68px;
          height: 325.12px;

          padding: 10px 20px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 30px;
          font-weight: 400;
          line-height: 61.29px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

          resize: none;

          border-radius: 10px;
          border: 3px solid #8b9295;
        }

        input:focus,
        textarea:focus {
          color: #1090cb;
          border: 3px solid #1090cb;
        }
      }
      .send-us {
        width: 404.68px;
        height: 86.26px;

        color: #fff;

        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 204.3%;
        line-height: 81.72px;

        background: #1392cb;

        border: none;
        border-radius: 10px;

        cursor: pointer;
      }
      .send-us:hover {
        background: #1d7eab;
      }
    }
  }
}
@media (max-width: 1024px) {
  section {
    width: 100vw;
    height: 100vh;
    z-index: 5001;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .pop-up {
      position: relative;

      width: 800px;
      height: 1000px;

      padding: 50px;

      display: flex;
      flex-flow: column wrap;
      align-items: center;

      border-radius: 37px;
      background: #fff;
      box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);

      background-image: url(../../../img/modalwindow/hero-man.svg),
        url(../../../img/modalwindow/desktop/left-vector.svg),
        url(../../../img/modalwindow/desktop/right-vector.svg);

      background-repeat: no-repeat;

      background-size: 415px 507px, auto, auto;

      background-position: 0 310px, bottom left, bottom right;
    }
    .modal-header {
      width: 722px;
      height: 95px;

      display: flex;
      justify-content: space-between;
      align-items: start;

      .close {
        width: 25px;
        height: 25px;

        background-color: transparent;
        border: none;

        cursor: pointer;
      }
      .logo {
        height: 95px;
      }
    }
    h1 {
      font-family: Poppins;
      font-size: 60px;
      font-weight: 600;
      line-height: 122.58px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      left: 66px;
    }
    form {
      position: absolute;
      bottom: 126px;
      right: 65px;

      width: 294.54px;
      height: 735.92px;

      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;

      .data {
        width: 294.54px;
        height: 609.5px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        input {
          width: 294.32px;
          height: 86.26px;

          padding: 10px 20px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 22px;
          font-weight: 400;
          line-height: 44.95px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

          border-radius: 10px;
          border: 3px solid #8b9295;
        }
        textarea {
          width: 294.32px;
          height: 325.12px;

          padding: 10px 20px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 22px;
          font-weight: 400;
          line-height: 44.95px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

          resize: none;

          border-radius: 10px;
          border: 3px solid #8b9295;
        }

        input:focus,
        textarea:focus {
          color: #1090cb;
          border: 3px solid #1090cb;
        }
      }
      .send-us {
        width: 294.32px;
        height: 86.26px;

        color: #fff;

        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 61.29px;

        background: #1392cb;

        border: none;
        border-radius: 10px;

        cursor: pointer;
      }
      .send-us:hover {
        background: #1d7eab;
      }
    }
  }
}
@media (max-width: 768px) {
  section {
    width: 100vw;
    height: 100vh;
    z-index: 5001;

    background: none;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .pop-up {
      width: 577.86px;
      height: 1028px;

      padding: 20px 8px;

      overflow: hidden;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      background: #ffffff;

      background-image: url(../../../img/modalwindow/hero-man.svg),
        url(../../../img/modalwindow/tablet/left-vector.svg),
        url(../../../img/modalwindow/tablet/right-vector.svg);

      background-repeat: no-repeat;

      background-size: 326px 307px, auto, auto;

      background-position: 111px 556px, bottom left, bottom right;

      border: none;
      border-radius: 37px;
    }
    .modal-header {
      width: 521px;
      height: 75px;

      display: flex;
      justify-content: space-between;
      align-items: start;
      .logo {
        width: 91px;
      }
      .close {
        width: 25px;

        background-color: transparent;
        border: none;

        cursor: pointer;
        img {
          width: 25px;
        }
      }
    }
    h1 {
      display: flex;

      color: #000;

      font-family: Poppins;
      font-size: 60px;
      font-weight: 600;
      line-height: 122.58px;

      top: 86px;
      left: 122px;
    }
    form {
      width: 447.19px;
      height: 759.87px;

      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;

      top: 227px;

      .data {
        width: 447.19px;
        height: 311px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        input {
          width: 446.85px;
          height: 65.53px;

          padding: 10px 20px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 22px;
          font-weight: 400;
          line-height: 44.95px;

          border-radius: 10px;
          border: 1px solid #8b9295;
        }
        textarea {
          width: 446.85px;
          height: 93px;

          padding: 10px 20px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 22px;
          font-weight: 400;
          line-height: 44.95px;

          resize: none;

          border-radius: 10px;
          border: 1px solid #8b9295;
        }

        input:focus,
        textarea:focus {
          color: #1090cb;
          border: 1px solid #1090cb;
        }
      }
      .send-us {
        width: 446.85px;
        height: 88.67px;

        color: #fff;

        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 61.29px;

        background: #1392cb;

        border: none;
        border-radius: 10px;

        cursor: pointer;
      }
      .send-us:hover {
        background: #1d7eab;
      }
    }
  }
}
@media (max-width: 320px) {
  section {
    width: 100vw;
    height: 100vh;
    z-index: 5001;

    background: none;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .pop-up {
      width: 100vw;
      height: 568px;

      padding: 20px 8px;

      overflow: hidden;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      background: #ffffff;

      background-image: url(../../../img/modalwindow/hero-man.svg),
        url(../../../img/modalwindow/mobile/left-vector.svg),
        url(../../../img/modalwindow/mobile/right-vector.svg);

      background-repeat: no-repeat;

      background-size: 143px 134px, auto, auto;

      background-position: 83px 340px, bottom left, bottom right;

      border: none;
      border-radius: 0;
    }
    .modal-header {
      width: 289px;
      height: 41px;

      display: flex;
      justify-content: space-between;
      align-items: start;
      .logo {
        width: 50px;
      }
      .close {
        width: 13px;

        background-color: transparent;
        border: none;

        cursor: pointer;
        img {
          width: 13px;
        }
      }
    }
    h1 {
      display: flex;

      color: #000;

      font-family: Poppins;
      font-size: 30px;
      font-weight: 600;
      line-height: 204.3%;
    }
    form {
      width: 235px;
      height: 420px;

      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;

      .data {
        width: 235px;
        height: 195px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        input {
          width: 235px;
          height: 33px;

          padding: 5px 10px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 10px;
          font-weight: 400;
          line-height: 204.3%;

          border-radius: 10px;
          border: 1px solid #8b9295;
        }
        textarea {
          width: 235px;
          height: 84px;

          padding: 5px 10px;

          color: #8b9295;

          font-family: Poppins;
          font-size: 10px;
          font-weight: 400;
          line-height: 204.3%;

          resize: none;

          border-radius: 10px;
          border: 1px solid #8b9295;
        }

        input:focus,
        textarea:focus {
          color: #1090cb;
          border: 1px solid #1090cb;
        }
      }
      .send-us {
        width: 190px;
        height: 39px;

        color: #fff;

        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 204.3%;

        background: #1392cb;

        border: none;
        border-radius: 10px;

        cursor: pointer;
      }
      .send-us:hover {
        background: #1d7eab;
      }
    }
  }
}
