<section class="section-1">
  <div class="section-1-container">
    <div class="section-1-div-1">
      <div class="section-1-text-container">
        <h1 class="section-1-title">
          Experienced <span>mobile and web</span> applications and website
          builders measuring.
        </h1>
        <p class="section-1-about">
          KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web
          applications and website builders measuring dozens of completed
          projects. We build and develop mobile applications for several top
          platforms, including Android & IOS.
        </p>
        <div class="section-1-btn-div">
          <button id="contact-us-btn" class="section-1-btn">Contact us</button>
          <button id="view-more-btn" class="section-1-btn">View more</button>
        </div>
      </div>

      <img src="./img/section1-img.png" alt="programist-png" />
      <img src="./img/svg/blue-vector.svg" alt="blue-vector" />
      <img src="./img/svg/turquoise-vector.svg" alt="turquoise-vector" />
      <img src="./img/svg/yellow-ellipse.svg" alt="yellow-ellipse" />
      <img src="./img/svg/purple-ellipse.svg" alt="purple-ellipse" />
    </div>

    <div class="section-1-div-2">
      <div class="section-1-div-2-container">
        <div class="section-1-div-2-container-card">
          <h4>Web Application</h4>
          <p>Lorem Ipsum is simply</p>
          <div class="vector-background">
            <img
              src="./img/svg/section-1-div-1-svg/website-content.svg"
              alt=""
            />
          </div>
        </div>

        <div class="section-1-div-2-container-card">
          <h4>SEO</h4>
          <p>Lorem Ipsum is simply</p>
          <div class="vector-background">
            <img src="./img/svg/section-1-div-1-svg/seo-tag.svg" alt="" />
          </div>
        </div>

        <div class="section-1-div-2-container-card">
          <h4>AR/VR Solutions</h4>
          <p>Lorem Ipsum is simply</p>
          <div class="vector-background">
            <img src="./img/svg/section-1-div-1-svg/immersive.svg" alt="" />
            <svg>
            <use href="./img/svg/sprite.svg#immersive">
            </svg>
          </div>
        </div>

        <div class="section-1-div-2-container-card">
          <h4>Mobile Applications</h4>
          <p>Lorem Ipsum is simply</p>
          <div class="vector-bsckground">
            <img src="./img/svg/section-1-div-1-svg/coding.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
