<section class="section-1">
    <div class="section-1-div-1">
      <div class="section-1-div-container">
        <div class="section-1-text-container">
          <h1 class="section-1-title">
            Experienced <span>mobile and web</span> applications and website
            builders measuring.
          </h1>
          <p class="section-1-about">
            KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS.
          </p>
        </div>
        <div class="section-1-btn-div">
          <button id="contact-us-btn" class="section-1-btn">Contact us</button>
          <button id="view-more-btn" class="section-1-btn">View more</button>
        </div>
      </div>

      <img src="../../../img/section1/section1-img.png" class="section-1-img" id="programist" />
      <img src="../../../img/section1/svg/blue-vector.svg" class="section-1-img" id="blue-vector" />
      <img src="../../../img/section1/svg/turquoise-vector.svg" class="section-1-img" id="turquoise-vector" />
      <img src="../../../img/section1/svg/yellow-ellipse.svg" class="section-1-img" id="yellow-ellipse" />
      <img src="../../../img/section1/svg/purple-ellipse.svg" class="section-1-img" id="purple-ellipse" />
    </div>

    <div class="section-1-div-2">
      <div class="section-1-div-2-container">

        <div class="section-1-card" >
          <div class="vector-background" id="card-div-purple">
            <img
              src="../../../img/section1/svg/section-1-div-1-svg/website-content.svg"
              class="card-icon"
            />
          </div>

          <div class="card-text-div">
            <h4>Web Application</h4>
            <p>Innovative and responsive web solutions.</p>
          </div>

        </div>

        <div class="section-1-card" >

          <div class="vector-background" id="card-div-green">
            <img src="../../../img/section1/svg/section-1-div-1-svg/seo-tag.svg" class="card-icon" />
          </div>
          <div class="card-text-div">
            <h4>SEO</h4>
            <p>Boost visibility, drive traffic.</p>
          </div>

        </div>

        <div class="section-1-card">
          <div class="vector-background" id="card-div-blue">
            <img src="../../../img/section1/svg/section-1-div-1-svg/immersive.svg" class="card-icon" />
          </div>

          <div class="card-text-div">
            <h4>AR/VR Solutions</h4>
            <p>Immersive experiences for businesses.</p>
          </div>

        </div>

        <div class="section-1-card" id="section-1-card-4">

          <div class="vector-background" id="card-div-red">
            <img src="../../../img/section1/svg/section-1-div-1-svg/coding.svg" class="card-icon" />
          </div>
          <div class="card-text-div">
            <h4>Mobile Applications</h4>
            <p>Seamless apps for all devices.</p>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>
