<section class="section-1">
  <div class="section-1-div-1">
    <div class="section-1-div-container" data-aos="fade-right">
      <div class="section-1-text-container">
        <h1 class="section-1-title">
          Досвідчені розробники <span>мобільних і веб-додатків</span> та
          створення веб-сайтів.
        </h1>
        <p class="section-1-about">
          KODEX TECHNOLOGY (PVT) LTD — команда досвідчених розробників мобільних
          і веб-додатків та будівельників веб-сайтів із десятками успішно
          завершених проєктів. Ми створюємо та розробляємо мобільні додатки для
          кількох провідних платформ, включаючи Android та iOS.
        </p>
      </div>
      <div class="section-1-btn-div">
        <button id="contact-us-btn" class="section-1-btn">
          Зв'язатися з нами
        </button>
        <button id="view-more-btn" class="section-1-btn">
          Дізнатися більше
        </button>
      </div>
    </div>

    <img
      class="brick"
      src="/img/section1/section-1-div-1-svg/man-group/brick.svg"
    />
    <img
      class="cactus"
      src="/img/section1/section-1-div-1-svg/man-group/cactus.svg"
    />
    <img
      class="eggplant"
      src="/img/section1/section-1-div-1-svg/man-group/eggplant.svg"
    />
    <!-- було неправильно підключено -->
  </div>

  <div class="section-1-div-2">
    <div class="section-1-div-2-container">
      <div class="section-1-card" data-aos="fade-right">
        <div class="vector-background" id="card-div-purple">
          <img
            src="/img/section1/section-1-div-2-svg/website-content.svg"
            class="card-icon"
          />
        </div>

        <div class="card-text-div">
          <h4>Веб-додатки</h4>
          <p>Інноваційні та адаптивні веб-рішення</p>
        </div>
      </div>

      <div class="section-1-card" data-aos="fade-right">
        <div class="vector-background" id="card-div-green">
          <img
            src="/img/section1/section-1-div-2-svg/seo-tag.svg"
            class="card-icon"
          />
        </div>
        <div class="card-text-div">
          <h4>SEO</h4>
          <p>Збільшуйте видимість, залучайте трафік</p>
        </div>
      </div>

      <div class="section-1-card" data-aos="fade-left">
        <div class="vector-background" id="card-div-blue">
          <img
            src="/img/section1/section-1-div-2-svg/immersive.svg"
            class="card-icon"
          />
        </div>

        <div class="card-text-div">
          <h4>AR/VR Рішення</h4>
          <p>Захоплюючий досвід для бізнесу</p>
        </div>
      </div>

      <div class="section-1-card" id="section-1-card-4">
        <div class="vector-background" id="card-div-red">
          <img
            src="/img/section1/section-1-div-2-svg/coding.svg"
            class="card-icon"
          />
        </div>
        <div class="card-text-div">
          <h4>Мобільні додатки</h4>
          <p>Безшовні додатки для всіх пристроїв</p>
        </div>
      </div>
    </div>
  </div>
</section>
