.section-4 {
  width: 84.53vw;
  height: 841px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 249px auto;

  .section-4_photo-1,
  .section-4_photo-2,
  .section-4_photo-3,
  .section-4_photo-4 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
  }

  .section-4_photos-1 {
    width: 40.57vw;
    height: 387px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    .section-4_photo-1 {
      background-image: url('../../../img/section4/png/photo-1.png');
      width: 17.14vw;
      height: 290px;
    }

    .section-4_photo-2 {
      background-image: url('../../../img/section4/png/photo-2.png');
      width: 20vw;
      height: 387px;
    }
  }

  .section-4_about-us {
    width: 39.17vw;
    height: 356px;

    margin: 14px 0;

    .section-4_about-us_pretitle {
      color: #1090cb;
      font-family: Poppins;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .section-4_about-us_title {
      color: #252525;
      font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 170%; /* 68px */
      margin: 21px 0 41px;
    }

    .section-4_about-us_text {
      color: #868686;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 175%; /* 31.5px */
    }
  }

  .section-4_photos-2 {
    width: 77.24vw;
    height: 387px;

    display: flex;
    justify-content: space-between;
    align-items: end;

    margin-left: 99px;
    margin-top: 67px;

    .section-4_photo-3 {
      background-image: url('../../../img/section4/png/photo-3.png');
      width: 36.09vw;
      height: 387px;
    }

    .section-4_photo-4 {
      background-image: url('../../../img/section4/png/photo-4.png');
      width: 37.6vw;
      height: 387px;
    }
  }
}

@media (max-width: 1440px) {
  .section-4 {
    width: 84.65vw;
    height: 752px;

    margin: 249px 91px;

    .section-4_about-us_title {
      width: 41.67vw;
      margin: 19px 0 29px !important;
      font-size: 2.78vw !important;
    }

    .section-4_about-us_pretitle {
      font-size: 1.74vw;
    }
    .section-4_about-us_text {
      font-size: 1.25vw;
    }

    .section-4_photos-1 {
      width: 40.63vw;
      height: 346px;

      .section-4_photo-1 {
        width: 17.15vw;
        height: 259px;
      }

      .section-4_photo-2 {
        width: 20vw;
        height: 346px;
      }
    }

    .section-4_about-us {
      width: 39.3vw;
      height: 318px;
    }

    .section-4_photos-2 {
      width: 77.42vw;
      height: 346px;

      margin-left: 74px;
      margin-top: 60px;

      .section-4_photo-3 {
        width: 36.2vw;
        height: 346px;
      }

      .section-4_photo-4 {
        width: 37.64vw;
        height: 346px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .section-4 {
    width: 91.06vw;
    height: 644px;

    margin: 249px 45px;

    .section-4_about-us_title {
      font-size: 3.91vw !important;

      margin: 17px 0 20px;
      line-height: 48px !important;
    }

    .section-4_about-us_pretitle {
      font-size: 2.44vw;
    }
    .section-4_about-us_text {
      font-size: 1.76vw;
    }

    .section-4_photos-1 {
      width: 46.2vw;
      height: 338px;

      .section-4_photo-1 {
        width: 19.53vw;
        height: 223px;
      }

      .section-4_photo-2 {
        width: 24.74vw;
        height: 338px;
      }
    }

    .section-4_about-us {
      width: 41.56vw;
      height: 279px;
    }

    .section-4_photos-2 {
      width: 84.8vw;
      height: 282px;

      margin-left: 50px;
      margin-top: 27px;

      .section-4_photo-3 {
        width: 42.29vw;
        height: 282px;
      }

      .section-4_photo-4 {
        width: 39.95vw;
        height: 261px;
      }
    }
  }
}

@media (max-width: 768px) {
  .section-4 {
    width: 95.68vw;
    height: 644px;

    margin: 249px 16px;

    .section-4_photos-1 {
      width: 52.8vw;
      height: 338px;

      .section-4_photo-1 {
        width: 22.22vw;
        height: 223px;
      }

      .section-4_photo-2 {
        width: 28.3vw;
        height: 338px;
      }
    }

    .section-4_about-us {
      width: 39.06vw;
      height: 259px;

      margin: 42px 0 0 0;

      .section-4_about-us_title {
        margin: 4px 0 10px !important;
        width: 31.5vw;
        line-height: 6vw !important;
      }

      .section-4_about-us_pretitle {
        font-size: 3.25vw;
      }
      .section-4_about-us_text {
        font-size: 1.5vw;
      }
    }

    .section-4_photos-2 {
      width: 90.1vw;
      height: 282px;

      margin-left: 25px;
      margin-top: 24px;

      .section-4_photo-3 {
        width: 48.3vw;
        height: 282px;
      }

      .section-4_photo-4 {
        width: 38.8vw;
        height: 312px;
      }
    }
  }
}

@media (max-width: 320px) {
  .section-4 {
    width: 80.63vw;
    height: 231px;

    margin: 249px 20px;

    .section-4_photos-1 {
      width: 44.38vw;
      height: 122px;

      .section-4_photo-1 {
        width: 18.75vw;
        height: 80px;
      }

      .section-4_photo-2 {
        width: 23.75vw;
        height: 122px;
      }
    }

    .section-4_about-us {
      width: 29.06vw;
      height: 103px;
      margin-top: 0;

      .section-4_about-us_title {
        margin: 0 0 14px !important;
        width: 29.06vw;
        font-size: 3.125vw !important;
        line-height: 12px !important;
      }

      .section-4_about-us_pretitle {
        font-size: 10px;
      }
      .section-4_about-us_text {
        font-size: 2vw !important;
        line-height: 6px !important;
      }
    }

    .section-4_photos-2 {
      width: 76.25vw;
      height: 101px;

      margin-left: 14px;
      margin-top: 7px;

      .section-4_photo-3 {
        width: 41.25vw;
        height: 101px;
      }

      .section-4_photo-4 {
        width: 32.5vw;
        height: 112px;
      }
    }
  }
}
