<section class="section-3">
  <div class="section-3_Container">
    <div class="section-3_Container_leftCard CommonStylesCard">
      <h1 class="section-3_Container_leftCard_Title">Lorem Ipsum is simply dummy text.</h1>
      <p class="section-3_Container_leftCard_subTitle">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
      <button class="section-3_Container_leftCard_button">View More</button>
    </div>
    <div class="section-3_Container_RightCard CommonStylesCard">
      <h1 class="section-3_Container_RightCard_Title">Lorem Ipsum is simply dummy text.</h1>
      <p class="section-3_Container_RightCard_subTitle">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
      <button class="section-3_Container_RightCard_button">View More</button>
      <img class="section-3_Container_RightCard_svg" src="/img/section3/svg/Bell Angle 1 (1).svg" alt="">
    </div>
    <div class="section-3_Container_MonitorCard CommonStylesCard">
      <h1 class="section-3_Container_MonitorCard_Title">Lorem Ipsum is simply dummy text.</h1>
      <p class="section-3_Container_MonitorCard_subTitle">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
      <button class="section-3_Container_MonitorCard_button">View More</button>
      <img class="section-3_Container_MonitorCard_svg" src="/img/section3/svg/Bell Angle 1 (1).svg" alt="">
    </div>
  </div>
</section>