<section class="section-3">
  <div class="section-3_Container">
    <div class="section-3_Container_leftCard CommonStylesCard">
      <div class="section-3_Container_leftCard_wrapper">
        <h1 class="section-3_Container_leftCard_wrapper_Title">Lorem Ipsum is simply dummy text.</h1>
        <p class="section-3_Container_leftCard_wrapper_subTitle">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
        <button class="section-3_Container_leftCard_wrapper_btn">View More</button>
      </div>
    </div>
    <div class="section-3_Container_rightCard CommonStylesCard">
      <div class="section-3_Container_rightCard_wrapper">
        <h1 class="section-3_Container_rightCard_wrapper_Title">Lorem Ipsum is simply dummy text.</h1>
        <p class="section-3_Container_rightCard_wrapper_subTitle">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
        <button class="section-3_Container_rightCard_wrapper_btn">View More</button>
      </div>
    </div>
  </div>
</section>