<section class="section-3">
  <ul class="section-3_Container">
    <li class="section-3_Container_CommonStylesCard">
      <div class="section-3_Container_CommonStylesCard_itemContainer">
        <div class="section-3_Container_CommonStylesCard_itemContainer_textContainer">
          <h3>
            Empowering Mobile Apps with Smart Solutions
          </h3>
          <p>
            Our team specializes in building innovative mobile applications
            tailored to Android and iOS. With dozens of successful projects, we
            focus on creating seamless user experiences and high-performance apps
            to meet the unique needs of our clients worldwide.
          </p>
        </div>
        <button>
          View More
        </button>
      </div>
    </li>
    <li class="section-3_Container_CommonStylesCard">
      <div class="section-3_Container_CommonStylesCard_itemContainer">
        <div class="section-3_Container_CommonStylesCard_itemContainer_textContainer">
          <h3>
            Innovative App Development for Modern Tablets
          </h3>
          <p>
            We deliver top-quality applications designed specifically for tablets,
            enhancing usability and functionality. Our skilled developers craft
            solutions optimized for leading platforms, ensuring seamless
            performance and scalability for businesses in various industries.
          </p>
        </div>
        <img class="section-3_Container_CommonStylesCard_itemContainer_svg centerCard" src="/img/section3/svg/Bell Angle 1 (1).svg" alt="bell"/>
        <button>
          View More
        </button>
      </div>
    </li>
    <li class="section-3_Container_CommonStylesCard monitor ">
      <div class="section-3_Container_CommonStylesCard_itemContainer">
        <div class="section-3_Container_CommonStylesCard_itemContainer_textContainer">
          <h3>
            Smartwatch Apps That Redefine Functionality
          </h3>
          <p>
            We create tailored applications for smartwatches, blending modern
            design with cutting-edge technology. From fitness trackers to
            productivity tools, our apps provide exceptional performance and
            functionality for wearables across popular platforms.
          </p>
        </div>
        <img
          class="section-3_Container_CommonStylesCard_itemContainer_svg rightCard"
          src="/img/section3/svg/Bell Angle 1 (1).svg"
          alt="bell"
        />
        <button>
          View More
        </button>
      </div>
    </li>
    
  </ul>
</section>