@mixin widthAndHeight($weight,$height){
    width: $weight;
    height: $height;
}
@mixin justifyAndAlign($justify: null,$align: null){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin text($fW,$font-size){
    font-weight: $fW;
    font-size: $font-size;
}
@media(min-width:1441px){
    .section-6{
        width: 100vw;
        &_blueBackground{
            position: relative;
            @include justifyAndAlign(null,center);
            flex-direction: column;
            @include widthAndHeight(100vw,993px);
            background: rgba(16, 144, 203, 0.10);
            &_upContainer{
                @include widthAndHeight(30.63vw,446px);
                margin-top: 104px;
                @include justifyAndAlign(space-between,center);
                flex-direction: column;
                &_speakerCircle{
                    @include widthAndHeight(9.38vw,180px);
                    background: #fff;
                    border-radius: 50%;
                    @include justifyAndAlign(center,center);
                    &_img{
                        @include widthAndHeight(5.05vw,97px);
                    }
                }
                &_textContent{
                    @include widthAndHeight(29.34vw,236px);
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include justifyAndAlign(space-between, null);
                    h3{
                        @include text(500,2.45vw);
                    }
                    p{
                        @include text(400,1.30vw);
                        line-height: 174%;
                        color: #696969;
                    }
                }
            }
            &_Services{
                position: absolute;
                top: 639px;
                left: 6.88vw;
                @include justifyAndAlign(center,center);
                @include widthAndHeight(85.89vw,604px);
                background: #FFFFFF;
                box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.09);
                &_ItemContainer{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    @include widthAndHeight(75.57vw,486px);
                    &_horizontalLine{
                        position: absolute;
                        @include widthAndHeight(75.26vw,1px);
                        top: 176px;
                        left: 0;
                        background: #D2D2D2;
                    }
                    &_verticalLine{
                        position: absolute;
                        @include widthAndHeight(0.052vw,486px);
                        left: 37.87vw;
                        bottom: 21px;
                        background: #D2D2D2;
                    }
                }
                &_item{
                    @include widthAndHeight(36.25vw,149px);
                    list-style: none;
                    @include justifyAndAlign(space-between,center);
                    &_mobileBg{
                        @include justifyAndAlign(center,center);
                        @include widthAndHeight(6.51vw,123px);
                        background: #F1E8FF;
                        border-radius: 20px;
                        &_img{
                            @include widthAndHeight(2.92vw,56px);
                        }
                    }
                    &_MobileTextContainer{
                        @include widthAndHeight(27.57vw,149px);
                        padding-top: 14px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;
                        h3{
                            @include text(500,1.67vw)
                        }
                        p{
                            @include text(400,1.04vw);
                            line-height: 178%;
                            width: 20.47vw;
                            color: #797979;
                        }
                    }
                    &_WebApplicationBg{
                        @include justifyAndAlign(center,center);
                        @include widthAndHeight(6.51vw,123px);
                        background: #FFF2F2;
                        border-radius: 20px;
                        &_img{
                            @include widthAndHeight(2.92vw,56px)
                        }
                    }
                    &_ApplicationTextContainer{
                        @include widthAndHeight(27.57vw,149px);   
                        padding-top: 14px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;
                        h3{
                            @include text(500, 1.67vw)
                        }
                        p{ 
                            @include text(400,1.04vw);
                            line-height: 178%;
                            color: #797979;
                        }
                    }
                    &_SeoBg{
                        @include justifyAndAlign(center,center);
                        @include widthAndHeight(6.51vw,123px);
                        background: #E2F3FF;
                        border-radius: 20px;
                        &_img{
                            @include widthAndHeight(2.92vw,56px)
                        }
                    }
                    &_SeoTextContainer{
                        @include widthAndHeight(27.57vw,149px);   
                        padding-top: 14px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;
                        h3{
                            @include text(500, 1.67vw)
                        }
                        p{ 
                            width: 16.56vw;
                            @include text(400,1.04vw);
                            line-height: 178%;
                            color: #797979;
                        }
                    }
                    &_VrBg{
                        @include justifyAndAlign(center,center);
                        @include widthAndHeight(6.51vw,123px);
                        background: #FFE7FB;
                        border-radius: 20px;
                        &_img{
                            @include widthAndHeight(2.92vw,56px)
                        }
                    }
                    &_VrTextContainer{
                        @include widthAndHeight(27.57vw,149px);   
                        padding-top: 14px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;
                        h3{
                            @include text(500, 1.67vw)
                        }
                        p{ 
                            @include text(400,1.04vw);
                            line-height: 178%;
                            color: #797979;
                        }
                    }
                }
            }
        }
        &_whiteContainer{
            width: 100vw;
            height: 1409px;
            display: flex;
            justify-content: center;
            align-items: center;
            &_Content{
                width: 84.24vw;
                height: 848px;
                display: flex;
                justify-content: space-between;
                &_TextAndButton{
                    width: 34.60vw;
                    height: 848px;
                    @include justifyAndAlign(space-between,null);
                    flex-direction: column;
                    h3{
                        @include text(600,2.19vw);
                        line-height: 170%;
                    }
                    &_list{
                        width: 32.81vw;
                        height: 500px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;

                        &_Item{
                            @include text(400, 1.35vw);
                            line-height: 180%;
                            list-style: none;
                        }
                    }
                    &_Button{
                        width: 13.33vw;
                        height: 67px;
                        border-radius: 10px;
                        border-color: #1090CB;
                        @include text(400, 1.15vw);
                        color: #1090CB;
                    }
                }
                &_imgContainer{
                    width: 46.04vw;
                    height: 764px;
                    img{
                        width: 46.04vw;
                    }
                }
            }
        }
    }
    span{
        color: #1090CB;
    }
}
@media(max-width:1440px){
    .section-6{
        width: 100vw;
        &_blueBackground{
            position: relative;
            @include justifyAndAlign(null,center);
            flex-direction: column;
            @include widthAndHeight(100vw,993px);
            background: rgba(16, 144, 203, 0.10);
            &_upContainer{
                @include widthAndHeight(30.56vw,331px);
                margin-top: 104px;
                @include justifyAndAlign(space-between,center);
                flex-direction: column;
                &_speakerCircle{
                    @include widthAndHeight(9.38vw,135px);
                    background: #fff;
                    border-radius: 50%;
                    @include justifyAndAlign(center,center);
                    &_img{
                        @include widthAndHeight(5.07vw,73px);
                    }
                }
                &_textContent{
                    @include widthAndHeight(30.56vw,174px);
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include justifyAndAlign(space-between, null);
                    h3{
                        @include text(500,2.78vw);
                    }
                    p{
                        @include text(400,1.25vw);
                        line-height: 174%;
                        color: #696969;
                    }
                }
            }
            &_Services{
                position: absolute;
                top: 639px;
                left: 6.88vw;
                @include justifyAndAlign(center,center);
                @include widthAndHeight(83.54vw,441px);
                background: #FFFFFF;
                box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.09);
                &_ItemContainer{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    @include widthAndHeight(73.54vw,294px);
                    &_horizontalLine{
                        position: absolute;
                        @include widthAndHeight(69.96vw,1px);
                        top: 149px;
                        left: 0;
                        background: #D2D2D2;
                    }
                    &_verticalLine{
                        position: absolute;
                        @include widthAndHeight(0.052vw,294px);
                        left: 36.94vw;
                        top: 6px;
                        background: #D2D2D2;
                    }
                }
                &_item{
                    @include widthAndHeight(35.28vw,109px);
                    list-style: none;
                    @include justifyAndAlign(space-between,center);
                    &_mobileBg{
                        @include justifyAndAlign(center,center);
                        @include widthAndHeight(6.25vw,90px);
                        background: #F1E8FF;
                        border-radius: 20px;
                        &_img{
                            @include widthAndHeight(2.84vw,41px);
                        }
                    }
                    &_MobileTextContainer{
                        @include widthAndHeight(22.43vw,105px); // !
                        padding-top: 14px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;
                        h3{
                            @include text(500,1.67vw)
                        }
                        p{
                            @include text(400,1.11vw);
                            line-height: 178%;
                            width: 20.47vw;
                            color: #797979;
                        }
                    }
                    &_WebApplicationBg{
                        @include justifyAndAlign(center,center);
                        @include widthAndHeight(6.51vw,123px);
                        background: #FFF2F2;
                        border-radius: 20px;
                        &_img{
                            @include widthAndHeight(2.92vw,56px)
                        }
                    }
                    &_ApplicationTextContainer{
                        @include widthAndHeight(27.57vw,149px);   
                        padding-top: 14px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;
                        h3{
                            @include text(500, 1.67vw)
                        }
                        p{ 
                            @include text(400,1.04vw);
                            line-height: 178%;
                            color: #797979;
                        }
                    }
                    &_SeoBg{
                        @include justifyAndAlign(center,center);
                        @include widthAndHeight(6.51vw,123px);
                        background: #E2F3FF;
                        border-radius: 20px;
                        &_img{
                            @include widthAndHeight(2.92vw,56px)
                        }
                    }
                    &_SeoTextContainer{
                        @include widthAndHeight(27.57vw,149px);   
                        padding-top: 14px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;
                        h3{
                            @include text(500, 1.67vw)
                        }
                        p{ 
                            width: 16.56vw;
                            @include text(400,1.04vw);
                            line-height: 178%;
                            color: #797979;
                        }
                    }
                    &_VrBg{
                        @include justifyAndAlign(center,center);
                        @include widthAndHeight(6.51vw,123px);
                        background: #FFE7FB;
                        border-radius: 20px;
                        &_img{
                            @include widthAndHeight(2.92vw,56px)
                        }
                    }
                    &_VrTextContainer{
                        @include widthAndHeight(27.57vw,149px);   
                        padding-top: 14px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;
                        h3{
                            @include text(500, 1.67vw)
                        }
                        p{ 
                            @include text(400,1.04vw);
                            line-height: 178%;
                            color: #797979;
                        }
                    }
                }
            }
        }
        &_whiteContainer{
            width: 100vw;
            height: 1409px;
            display: flex;
            justify-content: center;
            align-items: center;
            &_Content{
                width: 84.24vw;
                height: 848px;
                display: flex;
                justify-content: space-between;
                &_TextAndButton{
                    width: 34.60vw;
                    height: 848px;
                    @include justifyAndAlign(space-between,null);
                    flex-direction: column;
                    h3{
                        @include text(600,2.19vw);
                        line-height: 170%;
                    }
                    &_list{
                        width: 32.81vw;
                        height: 500px;
                        @include justifyAndAlign(space-between,null);
                        flex-direction: column;

                        &_Item{
                            @include text(400, 1.35vw);
                            line-height: 180%;
                            list-style: none;
                        }
                    }
                    &_Button{
                        width: 13.33vw;
                        height: 67px;
                        border-radius: 10px;
                        border-color: #1090CB;
                        @include text(400, 1.15vw);
                        color: #1090CB;
                    }
                }
                &_imgContainer{
                    width: 46.04vw;
                    height: 764px;
                    img{
                        width: 46.04vw;
                    }
                }
            }
        }
    }
    span{
        color: #1090CB;
    }
}
